
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Propiedades del Suelo
 
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
  
    <li class="active">Propiedades de Suelo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
       

        <!-- /.box-header -->
        <div class="box-body">
            <form action="<%= view.endpoint('/farm/detailPointSave')%>" method="post">
            <h4>Textura:</h4>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Arena: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[arena]" placeholder="%" value="<%=data.details.detail.arena%>">
                     <input type="hidden" name="point_id" value="<%=data.pointId%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Limo: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[limo]" placeholder="%" value="<%=data.details.detail.limo%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Arcilla: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[arcilla]" placeholder="%" value="<%=data.details.detail.arcilla%>">
                    </div>
                </div>
            </div>
            <h4>Macronutrientes del Suelo:</h4>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Nitrógeno: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[nitrogeno]" placeholder="%" value="<%=data.details.detail.nitrogeno%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Fósforo Olsen: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[fosforo]" placeholder="mg/Kg" value="<%=data.details.detail.fosforo%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Potasio: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[potasio]" placeholder="mg/Kg" value="<%=data.details.detail.potasio%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Magnesio: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[magnesiomacro]" placeholder="mg/Kg" value="<%=data.details.detail.magnesiomacro%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Calcio: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[calcio]" placeholder="mg/Kg" value="<%=data.details.detail.calcio%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Sodio: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[sodio]" placeholder="mg/Kg" value="<%=data.details.detail.sodio%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">C.I.C: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control"  name="data[cic]" placeholder="mEq/100 g" value="<%=data.details.detail.cic%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Indice SAR: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[sar]" placeholder="s/u" value="<%=data.details.detail.sar%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">P.S.I: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[psi]" placeholder="% Sodio intercambiable" value="<%=data.details.detail.psi%>">
                    </div>
                </div>
            </div>
            <h4>Microelementos del Suelo:</h4>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Zinc: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[zinc]" placeholder="mg/Kg" value="<%=data.details.detail.zinc%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Magnesio: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[magnesiomicro]" placeholder="mg/Kg" value="<%=data.details.detail.magnesiomicro%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Boro: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[boro]" placeholder="mg/Kg" value="<%=data.details.detail.boro%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Hierro: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[hierro]" placeholder="mg/Kg" value="<%=data.details.detail.hierro%>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="data" class="col-sm-3 control-label">Cobre: </label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" name="data[cobre]" placeholder="mg/Kg" value="<%=data.details.detail.cobre%>">
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info">Guardar</button>
            
            <a href="<%= view.endpoint('/farm/generatepoints/'+ '?id='+data.data.id+'&lat='+data.data.coor.lat+ '&lng='+data.data.coor.lng)%>" class="btn btn-warning">Cancelar</a>
            </form>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>

<script type="text/javascript">
    
</script>