<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=drawing">
</script>
<style type="text/css">
   html, body {
  height: 100%;
}
#map{
    width: auto;
    height: 0;
    padding-bottom: 41%; /*image width * 100 / height*/
    background-color: #ccc;
}
 #info-bt{
    border-radius: 14px;
    border: 0;
    padding: 0px 5px;
    font-size: 14px;
  }
  .button-custom{
    background: none rgb(255, 255, 255); 
    border: 0px;   
    border-radius: 2px; 
    height: 28px; 
    width: 28px; 
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 6px -1px;  margin-top: 6px;  pointer-events: none; cursor: default;
  }
  .img-button-custom{
    height: 12px; 
    width: 12px;
  }
  .img-custom{
    margin-top: 14px;
    height: 16px;
    width: 17px;
    margin-left: 6px;
  }
  .msg-top{
    margin-bottom: 0px;
  }
 
  .txbackg-color{
    background-color: #dfebff;
  }

 </style>

<div id="result"></div>
    <!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Cultivo
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Cultivo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="box box-default">
      <div class="box-header with-border">
        <br>
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-10">
            <a href="<%= view.endpoint('/farm/view')%>" class="btn btn-primary" title="Regresar"><i class="fa fa-reply"></i> Regresar</a> &nbsp;
            <button id="info-bt"  type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#infoButton" title="Información"><i class="fa fa-question-circle"></i>
          </div>
        </div>

        <div class="collapse col-sm-12 col-md-12 col-lg-12" id="infoButton">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="direct-chat-msg msg-top" >
               <button class="direct-chat-img button-custom" type="button"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" class="img-button-custom"></button> 
              <div class="direct-chat-text txbackg-color">Haga click en este boton para acercar el mapa.</div>
            </div>
            <div class="direct-chat-msg">
              <button class="direct-chat-img button-custom" type="button"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" class="img-button-custom"></button>  
              <div class="direct-chat-text txbackg-color">Haga click en este boton para alejar el mapa.</div>
            </div>
          </div>
         <!-- <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="direct-chat-msg msg-top" >
              <button class="direct-chat-img button-custom" type="button"><i class="fa fa-trash"></i></button>
              <div class="direct-chat-text txbackg-color">Haga click en este boton para eliminar el cultivo.</div>
            </div>-->
          </div>
        </div>
      </div>

      <div class="box-body">
         <div id="map" ></div> 
      </div>
      <!-- /.box-body -->
    </div>
  <!-- /.row (main row) -->

</section>
    <!-- /.content -->


<!-- Modal -->
<div class="modal fade in" id="DetailPointModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Propiedades del Suelo</h4>
      </div>
      <div class="modal-body" id="modal-body">
        <h4>Textura:</h4>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Arena</label>
                <div class="col-sm-6"><p id="arena"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Limo</label>
                <div class="col-sm-6"><p id="limo"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Arcilla</label>
                <div class="col-sm-6"><p id="arcilla"></p></div>
            </div>
        </div>
        <h4>Macro nutrientes</h4>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Nitrógeno: </label>
                <div class="col-sm-6"><p id="nitrogeno"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Fósforo Olsen: </label>
                <div class="col-sm-6"><p id="fosforo"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Potasio: </label>
                <div class="col-sm-6"><p id="potasio"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Magnesio: </label>
                <div class="col-sm-6"><p id="magnesio"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Calcio: </label>
                <div class="col-sm-6"><p id="calcio"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Sodio: </label>
                <div class="col-sm-6"><p id="sodio"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">C.I.C: </label>
                <div class="col-sm-6"><p id="cic"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Indice SAR: </label>
                <div class="col-sm-6"><p id="sar"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">P.S.I: </label>
                <div class="col-sm-6"><p id="psi"></p></div>
            </div>

        </div>
        <h4>Micro nutrientes</h4>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Zinc: </label>
                <div class="col-sm-6"><p id="zinc"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Magnesio: </label>
                <div class="col-sm-6"><p id="magnesiomicro"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Boro: </label>
                <div class="col-sm-6"><p id="boro"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Hierro: </label>
                <div class="col-sm-6"><p id="hierro"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Cobre: </label>
                <div class="col-sm-6"><p id="cobre"></p></div>
            </div>
          </div>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <div style="display: inline-block;">
        <form action="<%= view.endpoint('/farm/detailPointEdit')%>" method="POST" >
          <input id="idPointVal" type="hidden" name="idPoint" value="">
          <input type="hidden" name="datasend" value="<%=JSON.stringify(data)%>">
          <input type="submit" class="btn btn-primary" value="Editar" />
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- view.script(['jquery.min.js'], 'js') -%>

<script>
  var image  = {
    url: '',
    size: new google.maps.Size(30, 30),
    labelOrigin: new google.maps.Point(15, 15),
    automobile:new google.maps.Point(15, 15),
  };
  var coord = <%-JSON.stringify(data.coord)%>;
  var polygon = <%-JSON.stringify(data.polygon)%>;
  var lengthPoints = <%-JSON.stringify(data.points.length)%>;
  var points = <%-JSON.stringify(data.points)%>;
  
  var markers = [];
  
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat:coord.lat, lng:coord.lng},
      zoom: 20,
      mapTypeId: google.maps.MapTypeId.HYBRID
    });
    //panel default
    var drawingManager = new google.maps.drawing.DrawingManager({
      drawingControl: true,
      drawingControlOptions: {
          position: google.maps.ControlPosition.TOP_CENTER,
          drawingModes: []
      }
    });
    drawingManager.setMap(map);
   
    //get id polygon
    var poly_id
    if (!polygon) {
      poly_id = 0;
    }
    else{
      poly_id = polygon._id;  
    }
    //draw polygon
    var poly = drawpolygon(polygon,map);
    var infowindow = new google.maps.InfoWindow();
    //generate markers
    generate_markers(map,points,lengthPoints,infowindow);
    //custom button
    /*var customControlDiv = document.createElement('div');
    var customControl = new CustomControl(customControlDiv,poly_id,map,poly,markers);
    customControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(customControlDiv);*/

    poly.addListener('click', function (e) {
      var location = e.latLng;
      var coor = JSON.stringify(location)
      var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: image
      });
     
      markers.push(marker);
       $.ajax({
          type:'POST',
          url: '/farm/savePoint',
          data: {coordinates:coor, polygonId:poly_id},
          success:function(data){
            markers.forEach(function(mark){
              mark.setMap(null)
            })
            markers = [];
            var lengthpointDB = data.points.length;
            generate_markers(map,data.points,lengthpointDB,infowindow);
            //map.controls[google.maps.ControlPosition.TOP_CENTER].pop();
            //button custom
            /*var customControlDiv = document.createElement('div');
            var customControl = new CustomControl(customControlDiv,poly_id,map,poly,markers);
            customControlDiv.index = 1;
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(customControlDiv);*/
          }
        });
    });
  }
  function CustomControl(controlDiv, id,map,poly,markers) {
      // Set CSS for the control border
      var controlUI = document.createElement('div');
      controlUI.style.backgroundColor = '#ffff99';
      controlUI.style.borderStyle = 'solid';
      controlUI.style.borderWidth = '0px';
      controlUI.style.borderColor = '#fff';
      controlUI.style.marginTop = '5px';
      controlUI.style.marginLeft = '-6px';
      controlUI.style.cursor = 'pointer';
      controlUI.style.textAlign = 'center';
      controlUI.title = 'Borrar Todo';
      controlUI.id = 'btnSave';
      controlDiv.appendChild(controlUI);

      // Set CSS for the control interior
      var controlText = document.createElement('div');
      controlText.style.fontFamily = 'Arial,sans-serif';
      controlText.style.fontSize = '14px';
      controlText.style.paddingLeft = '7px';
      controlText.style.paddingRight = '7px';
      controlText.style.paddingTop = '4px';
      controlText.style.paddingBottom = '4px';
      controlText.style.backgroundColor= '#fff';
      controlText.innerHTML = '<i class="fa fa-trash"></i>';
      controlUI.appendChild(controlText);

      // Setup the click event listeners
      google.maps.event.addDomListener(controlUI, 'click', function () {
          var delete1 = confirm('Esta seguro que desea eliminar el cultivo y todos sus puntos?');
          if (delete1) {
              var markers_ids = []
              poly.setMap(null)
              for (var i = 0; i < markers.length; i++) {
                markers_ids[i] = markers[i].id
                markers[i].setMap(null);
              }
              markers = [];
              $.ajax({
                type:'POST',
                url: '/farm/deletePolygonAndPoint',
                data: {markers_ids:markers_ids, IdPoly:id },
                success:function(data){
                 //console.log(data)
                }
              });
          }
          
      });
  }
 
  function generate_markers(map,array,length,infowindow){
    for (i = 0; i < length; i++) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(array[i].location.coordinates[0], array[i].location.coordinates[1]),
      map: map,
       label: {
        fontFamily: 'Fontawesome',
        fontSize: '30px',
        text: '\uf140',
        color: 'blue',
      },
      icon: image
    });

    marker.id = array[i]._id;
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        var content = '<div style= "text-align: center;"><h5><strong>Acciones</strong></h5></div>\
        <button id="launchModal" title="Ver Detalles" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailPointModal" onclick = "launch_modal(\''+ marker.id + '\');" ><i class="fa fa-eye"></i></button>\
        <button title="Borrar Punto" class="marker-delete-button btn btn-danger btn-sm" onclick = "DeleteMarker(\''+ marker.id + '\');"><i class="fa fa-trash-o"></i></button>';
        var contentString = content;
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
      }
    })(marker, i));
     markers.push(marker);
    }
     
  }
  function drawpolygon(data,map){
    groupPolygon ={ 
      "type": "FeatureCollection",
      "features":data
    }
    polygons = new google.maps.Data({
       style:{
        strokeColor: '#ff0000',
        strokeOpacity:.8,
        strokeWeight:1,
        fillColor: '#ff0000',
        fillOpacity:.1
      }
    });
    polygons.addGeoJson(data);
    polygons.setMap(map);
    return polygons;
  }
  function savepoint(coor,poly_id){
    $.ajax({
      type:'POST',
      url: '/farm/savePoint',
      data: {coordinates:coor, polygonId:poly_id},
      success:function(data){
        //location.reload();
      }
    });
  }

  function DeleteMarker(id) {
    var delete1 = confirm('Esta seguro que desea eliminar este punto y sus propiedades?');
    if (delete1) {
      for (var i = 0; i < markers.length; i++) {
        if (markers[i].id == id) {
          $.ajax({
            type:'POST',
            url: '/farm/deletePoint',
            data: {id:id},
            success:function(data){
              //console.log(data)
            }
          });
            markers[i].setMap(null);
            markers.splice(i, 1);
            return;
        }
      }
    }
    
  };
  function launch_modal(idPoint){
    $.ajax({
      type: "GET",
      url: '/farm/detailPoint/' + idPoint,
      success: function(data){
        var detail = data.point.detail;
        $('#idPointVal').val(idPoint);

        if (detail==undefined) {
          $('#arena').text("- -");
          $('#limo').text("- -");
          $('#arcilla').text("- -");
          $('#nitrogeno').text("- -");
          $('#fosforo').text("- -");
          $('#potasio').text("- -");
          $('#magnesiomacro').text("- -");
          $('#calcio').text("- -");
          $('#sodio').text("- -");
          $('#cic').text("- -");
          $('#sar').text("- -");
          $('#psi').text("- -");
          $('#zinc').text("- -");
          $('#magnesiomicro').text("- -");
          $('#boro').text("- -");
          $('#hierro').text("- -");
          $('#cobre').text("- -");
        }
        else{
          $('#arena').text(detail.arena);
          $('#limo').text(detail.limo);
          $('#arcilla').text(detail.limo);
          $('#nitrogeno').text(detail.nitrogeno);
          $('#fosforo').text(detail.fosforo);
          $('#potasio').text(detail.potasio);
          $('#magnesiomacro').text(detail.magnesiomacro);
          $('#calcio').text(detail.calcio);
          $('#sodio').text(detail.sodio);
          $('#cic').text(detail.cic);
          $('#sar').text(detail.sar);
          $('#psi').text(detail.psi);
          $('#zinc').text(detail.zinc);
          $('#magnesiomicro').text(detail.magnesiomicro);
          $('#boro').text(detail.boro);
          $('#hierro').text(detail.hierro);
          $('#cobre').text(detail.cobre);
        }

      }
    });
  }



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=drawing&callback=initMap" async defer></script>