<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=drawing">
</script>
<style type="text/css">
   html, body {
  height: 100%;
}
#map{
    width: auto;
    height: 0;
    padding-bottom: 41%; /*image width * 100 / height*/
    background-color: #ccc;
}
 #info-bt{
    border-radius: 14px;
    border: 0;
    padding: 0px 5px;
    font-size: 14px;
  }
  .button-custom{
    background: none rgb(255, 255, 255); 
    border: 0px;   
    border-radius: 2px; 
    height: 28px; 
    width: 28px; 
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 6px -1px;  margin-top: 6px;  pointer-events: none; cursor: default;
  }
  .img-button-custom{
    height: 12px; 
    width: 12px;
  }
  .img-custom{
    margin-top: 14px;
    height: 16px;
    width: 17px;
    margin-left: 6px;
  }
  .msg-top{
    margin-bottom: 0px;
  }
 
  .txbackg-color{
    background-color: #dfebff;
  }

 </style>

<div id="result"></div>
    <!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dispositivos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dispositivos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="box box-default">
      <div class="box-header with-border">
        <br>
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-10">
            <a href="<%= view.endpoint('/farm/view')%>" class="btn btn-primary" title="Regresar"><i class="fa fa-reply"></i> Regresar</a> &nbsp;
            <button id="info-bt"  type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#infoButton" title="Información"><i class="fa fa-question-circle"></i>
          </div>
        </div>

        <div class="collapse col-sm-12 col-md-12 col-lg-12" id="infoButton">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="direct-chat-msg msg-top" >
               <button class="direct-chat-img button-custom" type="button"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" class="img-button-custom"></button> 
              <div class="direct-chat-text txbackg-color">Haga click en este boton para acercar el mapa.</div>
            </div>
            <div class="direct-chat-msg">
              <button class="direct-chat-img button-custom" type="button"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" class="img-button-custom"></button>  
              <div class="direct-chat-text txbackg-color">Haga click en este boton para alejar el mapa.</div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="box-body">
        <div class="row">
          <div class="form-group col-md-3">
            <label>Tipo de dispositivo</label>
            <select id="selectDevice" class="form-control select2" style="width: 100%;">
              <option value="" >Seleccione un tipo</option>
              <option value="3">Coordinador</option>
              <option value="2">Sensor</option>
              <option value="1">Valvula</option>
              
            </select>
          </div>  
          <div class="form-group col-md-3">
            <label>Dispositivos</label>
            <select id="devicesAvailables" class="form-control select2" style="width: 100%;">
              <option value="" >Seleccione un dispositivo</option>
            </select>
          </div>
        </div>
        
         <div id="map" ></div> 
      </div>
      <!-- /.box-body -->
    </div>
  <!-- /.row (main row) -->

</section>
    <!-- /.content -->


<!-- Modal -->
<div class="modal fade in" id="DetailPointModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Detalles de: <span id="deviceid"></span></h4>
      </div>
      <div class="modal-body" id="modal-body">
        
        <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">RSSI Tx</label>
                <div class="col-sm-6"><p id="rssitx"></p> </div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">RSSI Rx</label>
                <div class="col-sm-6"><p id="rssirx"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Bateria</label>
                <div class="col-sm-6"><p id="battery"></p></div>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
                <label for="data" class="col-sm-6 text-blue">Estado</label>
                <div class="col-sm-6"><p id="state"></p></div>
            </div>

        </div>
        
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        
        
        </div>
      </div>
    </div>
  </div>
</div>

<%- view.script(['jquery.min.js'], 'js') -%>

<script>

  var image  = {
    url: '',
    size: new google.maps.Size(30, 30),
    labelOrigin: new google.maps.Point(15, 15)
  };
  var coord = <%-JSON.stringify(data.coord)%>;
  var polygon = <%-JSON.stringify(data.polygon)%>;
  var lengthPoints = <%-JSON.stringify(data.points.length)%>;
  var points = <%-JSON.stringify(data.points)%>;

  var markers = [];
  var typeofdevice;
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat:coord.lat, lng:coord.lng},
      zoom: 20,
      mapTypeId: google.maps.MapTypeId.HYBRID
    });
    //panel default
    var drawingManager = new google.maps.drawing.DrawingManager({
      drawingControl: true,
      drawingControlOptions: {
          position: google.maps.ControlPosition.TOP_CENTER,
          drawingModes: []
      }
    });
    drawingManager.setMap(map);
   
    //get id polygon
    var poly_id
    if (!polygon) {
      poly_id = 0;
    }
    else{
      poly_id = polygon._id;  
    }
    //draw polygon
    var poly = drawpolygon(polygon,map);
    var infowindow = new google.maps.InfoWindow();
    //generate markers
    generate_markers(map,points,lengthPoints,infowindow);
    

    $("#selectDevice").on('change',function(){
        typeofdevice = $(this).val();
        $.ajax({
          type:'POST',
          url: '/farm/getDevices',
          data: {typeofdevice:typeofdevice},
          success:function(data){
            $('#devicesAvailables').html('');
            $('#devicesAvailables').append('<option value="">Seleccione un dispositivo</option>');
            $.each(data.devices,function(key,value){
              $('#devicesAvailables').append('<option value=' + value.code + '>' + value.code + '</option>');  
            });

            $("#devicesAvailables").on('change',function(){
              var device_id = $(this).val();

              map.addListener('click', function (e) {
                var location = e.latLng;
                var coor = JSON.stringify(location)
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                    
                });
                
                markers.push(marker);
                 $.ajax({
                    type:'POST',
                    url: '/farm/saveDevice',
                    data: {coordinates:coor, polygonId:poly_id, typeofdevice:typeofdevice, device_id:device_id},
                    success:function(data){
                      markers.forEach(function(mark){
                        mark.setMap(null)
                      })
                      markers = [];
                      var lengthpointDB = data.points.length;
                      generate_markers(map,data.points,lengthpointDB,infowindow);
                      //map.controls[google.maps.ControlPosition.TOP_CENTER].pop();
                      window.location.reload(); 

                    }
                  });
              },false);/**/
              poly.addListener('click', function (e) {
                var location = e.latLng;
                var coor = JSON.stringify(location)
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                    
                });
                
                markers.push(marker);
                 $.ajax({
                    type:'POST',
                    url: '/farm/saveDevice',
                    data: {coordinates:coor, polygonId:poly_id, typeofdevice:typeofdevice, device_id:device_id},
                    success:function(data){
                      markers.forEach(function(mark){
                        mark.setMap(null)
                      })
                      markers = [];
                      var lengthpointDB = data.points.length;
                      generate_markers(map,data.points,lengthpointDB,infowindow);
                      //map.controls[google.maps.ControlPosition.TOP_CENTER].pop();
                      window.location.reload(); 

                    }
                  });
              },false);/**/
            });
            
            
            
          }
        });

        
    })
  }
  
 
  function generate_markers(map,array,length,infowindow){
    for (i = 0; i < length; i++) {
      if (array[i].typedevice == 2) { //sensor
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(array[i].location.coordinates[0], array[i].location.coordinates[1]),
          map: map,
           label: {
            fontFamily: 'Fontawesome',
            fontSize: '30px',
            text: '\uf147',
            color: '#f39c12',
          },
          icon: image
        });  
      } else if (array[i].typedevice ==1) { //valve
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(array[i].location.coordinates[0], array[i].location.coordinates[1]),
          map: map,
           label: {
            fontFamily: 'Fontawesome',
            fontSize: '30px',
            text: '\uf1e9',
            color: '#3c8dbc',
          },
          icon: image
        });
      }else{
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(array[i].location.coordinates[0], array[i].location.coordinates[1]),
          map: map,
           label: {
            fontFamily: 'Fontawesome',
            fontSize: '30px',
            text: '\uf276',
            color: '#d2d6de',
          },
          icon: image
        });
      }
      

      marker.id = array[i]._id;
      marker.code = array[i].device_id;
      marker.tp = array[i].typedevice;
      //marker.const = 4;
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          var content = '<div style= "text-align: center;"><h5><strong>\ '+ `${(marker.tp==1)?'Valvula: ':((marker.tp==2)?'Sensor: ':'Coordinador: ')}` + '\ '+ `${marker.code}` + '\</strong></h5></div>\
          <div style= "text-align: center;"><h5><strong></strong></h5></div>\
          <button id="launchModal" title="Ver Detalles" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailPointModal" onclick = "launch_modal(\''+ marker.id + '\');" ><i class="fa fa-eye"></i></button>\
          <a href="/device/graph_from_device1/'+marker.id+'" title="Grafica 1" class="btn btn-warning btn-sm" onclick="window.open(\'/device/graph_from_device1/' + marker.id+'\',\''+marker.id+'\',\'width=500,height=500, top=0\'); return false;" >\
          <i class="fa fa-area-chart"></i></a>\
          <a href="/device/graph_from_device2/'+marker.id+'" title="Grafica 1" class="btn btn-info btn-sm" onclick="window.open(\'/device/graph_from_device2/' + marker.id+'\',\''+marker.id+'\',\'width=500,height=500, top=0\'); return false;" >\
          <i class="fa fa-line-chart"></i></a>\
          <button title="Borrar Punto" class="marker-delete-button btn btn-danger btn-sm" onclick = "DeleteMarker(\''+ marker.id + '\');"><i class="fa fa-trash-o"></i></button>';

          var contentString = content;
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        }
      })(marker, i));
       markers.push(marker);
    }
     
  }
  function drawpolygon(data,map){
    groupPolygon ={ 
      "type": "FeatureCollection",
      "features":data
    }
    polygons = new google.maps.Data({
       style:{
        strokeColor: '#ff0000',
        strokeOpacity:.8,
        strokeWeight:1,
        fillColor: '#ff0000',
        fillOpacity:.1
      }
    });
    polygons.addGeoJson(data);
    polygons.setMap(map);
    return polygons;
  }
  function savepoint(coor,poly_id){
    $.ajax({
      type:'POST',
      url: '/farm/savePoint',
      data: {coordinates:coor, polygonId:poly_id},
      success:function(data){
        //location.reload();
      }
    });
  }

  function DeleteMarker(id) {
    var delete1 = confirm('Esta seguro que desea eliminar este dispositivo?');
    if (delete1) {
      for (var i = 0; i < markers.length; i++) {
        if (markers[i].id == id) {
          $.ajax({
            type:'POST',
            url: '/farm/deleteDevice',
            data: {id:id},
            success:function(data){
              //console.log(data)
            }
          });
            markers[i].setMap(null);
            markers.splice(i, 1);
            return;
        }
      }
    }
    
  };
  function RedirectGraph(id) {

    var str= '?id=' + id;
    
    window.location = '/device/graph_from_device' + str;
  };
  function launch_modal(idPoint){
    $.ajax({
      type: "GET",
      url: '/farm/detailDevice/' + idPoint,
      success: function(data){
        
        var detail = data.point.readings[data.point.readings.length-1];
        $('#deviceid').text(data.point.code);
        if (detail==undefined) {
          $('#rssitx').text("- -");
          $('#rssirx').text("- -");
          $('#battery').text("- -");
          $('#state').text("- -");
          
        }
        else{
          $('#rssitx').text(detail.rssitx+' dBm');
          $('#rssirx').text(detail.rssitx+' dBm');
          $('#battery').text(detail.battery+' Voltios');
          $('#state').text(detail.state==true?'activo':'no activo');
          
        }

      }
    });
  }



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=drawing&callback=initMap" async defer></script>