<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=drawing">
</script>
<style type="text/css">
   html, body {
  height: 100%;
}
#map{
    width: auto;
    height: 0;
    padding-bottom: 41%; /*image width * 100 / height*/
    background-color: #ccc;
}
          
  #info-bt{
    border-radius: 14px;
    border: 0;
    padding: 0px 5px;
    font-size: 14px;
  }
  .button-custom{
    background: none rgb(255, 255, 255); 
    border: 0px;   
    border-radius: 2px; 
    height: 28px; 
    width: 28px; 
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 6px -1px;  margin-top: 6px;  pointer-events: none; cursor: default;
  }
  .img-button-custom{
    height: 12px; 
    width: 12px;
  }
  .img-custom{
    margin-top: 14px;
    height: 16px;
    width: 17px;
    margin-left: 6px;
  }
  .msg-top{
    margin-bottom: 0px;
  }
 
  .txbackg-color{
    background-color: #dfebff;
  }
   
 </style>

<div id="result"></div>
    <!-- Content Header (Page header) -->
<section class="content-header agrintell-page" data-sidebar="farm">
  <h1>
    Cultivos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Cultivos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="box box-default">
      <div class="box-header with-border">
        <br>
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-8">
             <form class="form-horizontal">
              <div class="row">
                <div class="col-md-6 col-sm-6 form-group">
                  <div class="">
                    <label class="col-sm-5 control-label">Mis Campos:</label>
                    <div class="col-sm-7">
                      <select id="field-change" name="data[role_id]" class="form-control" >
                        <% data.fields.forEach(function(field,index) {%>
                          <option value="<%= field._id %>" data-op ="<%=index%>"> <%= field.name %></option>
                        <% }); %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 form-group" style="padding: 6px;">
                  <button id="info-bt"  type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#infoButton" title="Información"><i class="fa fa-question-circle"></i>
                </div>  
              </div>
            </form>
          </div>

          
        </div>
        <div class="collapse col-sm-12 col-md-12 col-lg-12" id="infoButton">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="direct-chat-msg msg-top" >
              <button class="direct-chat-img button-custom" type="button"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" class="img-button-custom"></button>  
              <div class="direct-chat-text txbackg-color">Haga click en este boton para acercar el mapa.</div>
            </div>
            <div class="direct-chat-msg">
              <button class="direct-chat-img button-custom" type="button"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" class="img-button-custom"></button>      
              <div class="direct-chat-text txbackg-color">Haga click en este boton para alejar el mapa.</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="direct-chat-msg msg-top" >
              <button class="direct-chat-img button-custom" type="button"><img src="https://static.thenounproject.com/png/6400-200.png" class="img-button-custom"></button>
              <div class="direct-chat-text txbackg-color">Haga click para dibujar un cultivo (polígono) en el mapa.</div>
            </div>
            <div class="direct-chat-msg">
              <img class="direct-chat-img img-custom" src="https://static.thenounproject.com/png/6400-200.png" alt="message user image">
              <div class="direct-chat-text txbackg-color">Haga click en un cultivo (polígono) para más detalles.</div>
            </div>

          </div>
        </div>
      </div>
      <div class="box-body">
        <div id="map"></div>
      </div>
      <!-- /.box-body -->
    </div>
  <!-- /.row (main row) -->

</section>
    <!-- /.content -->
<div class="modal fade" id="modal-cultivo" onclick = "launch_modal(\''+ marker.id + '\')">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cultivo </h4>
      </div>
      <div class="modal-body">
        <form action="<%= view.endpoint('/farm/savefield_detail')%>" method="post">
          <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Nombre de cultivo</label>
              <input id="id" type="hidden" class="form-control" name="data[_id]" value="">
              <input id="typefield" type="text" class="form-control" name="data[typefield]" value="">
            </div>
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Fecha de siembra</label>
              <input id="dateS" type="text" class="form-control" name="data[dateS]" value="">
            </div>
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Fecha de cosecha</label>
              <input id="dateC" type="text" class="form-control" name="data[dateC]" value="" >
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-info  pull-left">Guardar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>  
        </form>

      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<%- view.script(['jquery.min.js'], 'js') -%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=drawing" ></script>

<script type="text/javascript">
  
  

  var polygonsG
  var map;
  var drawings = []
  var polygonTmp;
  var infowindow;



  $('#field-change').change(function(){
    

    Changes();
  })
  
function Changes(){
  
  var field_id = $('#field-change').val();
  var op = $('#field-change').find(':selected').data('op')

  var opc;
  $.ajax({
    type: 'GET',
    url: '/farm/changefield',
    data: {field_id:field_id,op:op},
    async: false
  }).done(function(data){
      opc = data.op;

      var y = (data.field.location.coordinates[0]);
      var x = (data.field.location.coordinates[1]);
      
      var myLatLng = {lat: x, lng: y};
      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.HYBRID
      });
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
      });
      polygonsG=drawpolygon(data.polygons,map);
  
      //tools panel google mpas
      var drawingManager = new google.maps.drawing.DrawingManager({
        drawingControl: true,
        drawingControlOptions: {
          position: google.maps.ControlPosition.TOP_CENTER,
          drawingModes: ['polygon']
        },
        polygonOptions:{
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35
          }
      });
      drawingManager.setMap(map);

      //redirect other page
      infowindow = new google.maps.InfoWindow();
      polygonsG.addListener('click', function(event) {
        polygonTmp = event;
        var coorOfClick = event.latLng.toJSON();
        var id_poly = event.feature.getId();
        var data = {id:id_poly,coor:coorOfClick};
        var datastring = '<button title="Dispositivos" class=" btn btn-primary btn-sm" onclick = "redirect_devices(\''+ data.id + '\','+data.coor.lat+','+data.coor.lng+');">Dispositivos</button>\
        <button title="Suelo" class=" btn btn-success btn-sm" onclick = "redirect_farm(\''+ data.id + '\','+data.coor.lat+','+data.coor.lng+');">Suelo</button>\
        <button title="Cultivo" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-cultivo" onclick = "launch_modal(\''+ data.id + '\');">Cultivo</button>\
        <button title="Borrar" class=" btn btn-danger btn-sm" onclick = "delete_all(\''+ id_poly + '\');"><i class="fa fa-trash-o"></i></button>';
        
        infowindow.setPosition(event.latLng);
        infowindow.setContent(datastring);
        infowindow.open(map, polygonsG);
      });
      //drawing polygon
      var infowindow2 = new google.maps.InfoWindow();
      var dataLayer = new google.maps.Data();
      google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
        dataLayer.add(new google.maps.Data.Feature({
            geometry: new google.maps.Data.Polygon([event.overlay.getPath().getArray()])
        }));
        drawings.push(event.overlay)
        dataLayer.toGeoJson(function(event) {
          var lastadd = event.features.length-1;
          $.ajax({
            type:'POST',
            url: '/farm/savePolygon',
            data: {data:event.features[lastadd], fieldId : field_id },
            success:function(data){
              
               
              while (drawings.length) {
                  drawings.pop().setMap(null)
              }
              polygonsG.setMap(null)
              polygonsG=drawpolygon(data.polygons,map);

              var poss = {
              lat: data.polygons[data.polygons.length-1].geometry.coordinates[0][0][1],
              lng: data.polygons[data.polygons.length-1].geometry.coordinates[0][0][0]
            }
            var poly = new google.maps.Data({
              style:{
                strokeColor: '#ff0000',
                strokeOpacity:.8,
                strokeWeight:1,
                fillColor: '#ff0000',
                fillOpacity:.1
              }
            });
            poly.addGeoJson(data.polygons[data.polygons.length-1]);
            var contentString = 
            '<div id="content">'+
              '<form action="<%= view.endpoint('/farm/savefield_detail')%>" method="post">'+
                '<h4>'+'Nuevo Campo'+'</h4>'+
                '<div id="bodyContent">'+
                  '<p>' +
                  '<b>Nombre de Cultivo:</b></br>'+
                  '<input type="hidden" class="form-control input-sm" name="data[_id]" value="'+data.polygons[data.polygons.length-1]._id+'" >'+
                  '<input type="text" class="form-control input-sm" name="data[typefield]" autofocus required>'+
                  '<b>Fecha de Siembra:</b></br>'+
                  '<input type="text" class="form-control input-sm" name="data[dateS]" value="'+ moment().format('DD-MM-YYYY')+'">'+
                  '<b>Fecha de Cosecha:</b></br>'+
                  '<input type="text" class=" form-control input-sm" name="data[dateC]" value="'+ moment().format('DD-MM-YYYY')+'">'+
                  '</br>'+
                  '<b><button class="btn btn-sm btn-primary" type="submit">Guardar</button></b> '+
                  
                  '</p>'+
                '</div>'+
              '</form>'+
            '</div>';
            infowindow2.setPosition(poss)
            infowindow2.setContent(contentString);
            infowindow2.open(map,poly)



              polygonsG.addListener('click', function(event) {
                var coorOfClick = event.latLng.toJSON();
                var id_poly = event.feature.getId();
                var data = {id:id_poly,coor:coorOfClick};
                polygonTmp = event;

                var datastring = '<button title="Dispositivos" class=" btn btn-primary btn-sm" onclick = "redirect_devices(\''+ data.id + '\','+data.coor.lat+','+data.coor.lng+');">Dispositivos</button>\
                <button title="Suelo" class=" btn btn-success btn-sm" onclick = "redirect_farm(\''+ data.id + '\','+data.coor.lat+','+data.coor.lng+');">Suelo</button>\
                <button title="Cultivo" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-cultivo" onclick = "launch_modal(\''+ data.id + '\');">Cultivo</button>\
                <button title="Borrar" class=" btn btn-danger btn-sm" onclick = "delete_all(\''+ id_poly + '\');"><i class="fa fa-trash-o"></i></button>'

                
                infowindow.setPosition(event.latLng);
                infowindow.setContent(datastring);
                infowindow.open(map, polygonsG);

                //window.location = '/farm/generatepoints/'+ JSON.stringify(data);
              });
            }
          }); 
        });/**/
      });

      
  });
  
  return opc;
  
}
 
//google.maps.event.addDomListener(window, 'load', initMap);

 function drawpolygon(data,map){
    groupPolygon ={ 
      "type": "FeatureCollection",
      "features":data,
    }
   //var polygons = map.data.addGeoJson(groupPolygon);

    var polygons = new google.maps.Data({
      style:{
        strokeColor: '#ff0000',
        strokeOpacity:.8,
        strokeWeight:1,
        fillColor: '#ff0000',
        fillOpacity:.1
      }
    });
    polygons.addGeoJson(groupPolygon);
    polygons.setMap(map);
    return polygons;
 }
 function redirect_farm(id,lat,lng){
  var str= "?id="+id;
  str += "&lat="+lat;
  str += "&lng="+lng;
   window.location = '/farm/generatepoints'+ str;
 }
 function redirect_devices(id,lat,lng){
  var str= "?id="+id;
  str += "&lat="+lat;
  str += "&lng="+lng;
   window.location = '/farm/generatedevices'+ str;
 }
 function launch_modal(idPoint){
   $.ajax({
      type: "GET",
      url: '/farm/getdatapolygon/' + idPoint,
      success: function(data){
        if (data.point.typefield==undefined ) {
          $('#id').val(idPoint);
          $('#typefield').val('- -');
          $('#dateS').val('- -');
          $('#dateC').val('- -');  
        }
        else{
          $('#id').val(idPoint);
          $('#typefield').val(data.point.typefield);
          $('#dateS').val(data.point.dateS);
          $('#dateC').val(data.point.dateC);
        }
        
      }
    });/**/
  }
 function delete_all(id){

  var delete1 = confirm('Esta seguro que desea eliminar este cultivo y sus detalles y dispositivos?');
  if (delete1) {
    $.ajax({
      type: 'POST',
      url: '/farmer/deletePolygonAll',
      data: {idpolygon: id},
      success:function(data){
        var op = data.op;
        DeletePolygonRender(op);
      }
    })
  }
 }
 function DeletePolygonRender(op){
  
  if (op) {

    polygonTmp.feature.setGeometry(null);
    infowindow.close();
  }
  else{
    return
  }
  
 }
$( document ).ready(function() {
  if($('#field-change option').length > 0){

    
    $('#field-change').prop("selectedIndex", <%=data.opp%>);
    var dd = Changes();

    
    
   //console.log('esto es lo q return ' + dd)
    
  }
  
});


</script>

