<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Mensajes Archivados</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= view.endpoint('/home') %>">Inicio</a></li>
            <li class="breadcrumb-item active">Mensajes Archivados</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                            <h4 class="card-title">Mensajes Archivados</h4>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Asunto</th>
                                    <th>Enviado por</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                              <% data.messages.forEach(function(message, index) {%>
                                <tr class="<%= (!message.dataValues.read ? 'read-message' : '' ) %>">
                                    <td><a href="<%= view.endpoint('/message/') + message.dataValues.code %>" title="Abrir mensaje"><%= message.dataValues.title %></a></td>
                                    
                                    <td> <%- helper.func.text_relation_field( message.dataValues.customer, 'name_organization','- -') %></td>
                                    <td><%- helper.func.date_format(message.dataValues.created) %></td>
                                    <td><%- helper.func.time_format(message.dataValues.created) %></td>
                                </tr>
                            <% }); %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
