<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Bandeja de Entrada</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= view.endpoint('/home') %>">Inicio</a></li>
            <li class="breadcrumb-item active">Mensajes</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <h4 class="card-title">Mensajes</h4>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a title="Mensajes archivados" style="color: #007bff" href="<%= view.endpoint('/inbox/archived') %>"><span><i class="fa fa-archive"></i></span> Mensajes Archivados</a>
                        </div>
                        
                    </div>
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Asunto</th>
                                    <th>Enviado por</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              <% data.messages.rows.forEach(function(message, index) {%>
                                <tr class="<%= (!message.dataValues.read ? 'read-message' : '' ) %>">
                                    <td><a href="<%= view.endpoint('/message/') + message.dataValues.code %>" title="Abrir mensaje"><%= message.dataValues.title %></a></td>
                                    
                                    <td><%- helper.func.text_relation_field( message.dataValues.customer, 'name_organization','- -') %></td>
                                    <td><%- helper.func.date_format(message.dataValues.created) %></td>
                                    <td><%- helper.func.time_format(message.dataValues.created) %></td>
                                    <td class="actions">
                                        <form action="<%= view.endpoint('/message/store/' + message.dataValues.code)%>" method="post">
                                            <a href="javascript:;" class="btn-sm btn-warning " title="Archivar" onclick="if(confirm(&quot;\u00bfDesea archivar el mensaje: <%= message.dataValues.title %>?&quot;)){parentNode.submit();}return false;">Archivar</a>
                                        </form>
                                    </td>
                                </tr>
                            <% }); %> 
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    console.log('tmr')
    console.log('<%=data.messages%>')
</script>