<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Contáctanos</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= view.endpoint('/home') %>">Inicio</a></li>
            <li class="breadcrumb-item active">Contáctanos</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-title">
                    <h4>Mensaje</h4>
                </div>
                <div class="card-body">
                     <div class="mt-4">
                        <form action="<%= view.endpoint('/sendmessage') %>" method="post" role="form" id="send-message-form" onsubmit="return confirm('¿Usted esta seguro de enviar este mensaje?');" >
                            <div class="form-group">
                                <input type="text" class="form-control" name="data[title]" placeholder="Asunto" required>
                            </div>
                            <div class="form-group">
                                <textarea name="data[content]" rows=8 class="form-control" placeholder="Escriba el problema..." required ></textarea>
                            </div>
                            <div class="form-group m-b-0">
                                <div class="text-right">
                                    <button class="btn btn-warning waves-effect waves-light"> <span>Enviar</span> <i class="fa fa-send m-l-10"></i> </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>