<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Bandeja de Entrada</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= view.endpoint('/home') %>">Inicio</a></li>
            <li class="breadcrumb-item active">Mensajes</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                    <div class="card-title">
                        <h4>Mensaje </h4>
                    </div>
                    <div class="recent-comment">
                        <div class="media">
                            <div class="media-left">
                                <span class="fa fa-envelope-open"></span>
                            </div>
                            <div class="media-body">

                                <h4 class="media-heading"> De: <b><%- helper.func.text_relation_field( data.message.customer, 'name_organization','- -') %></b></h4>
                                <h4 class="media-heading"> Asunto: <b><%= data.message.dataValues.title %></b></h4>
                                <br>
                                <p><%- data.message.dataValues.content %>  </p>
                                <p class="comment-date">Enviado el <%- helper.func.date_format(data.message.dataValues.created) %> a las <%- helper.func.time_format(data.message.dataValues.created) %></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-actions">
                            <a href="javascript:history.back()" class="btn btn-info">Atrás</a>
                    </div>
            </div>
        </div>
    </div>
</div>
