
<!-- Content Header (Page header) -->
<section class="content-header agrintell-page" data-sidebar="group">
  <h1>
    Esquema y Grupos
    
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Grupos</li>
  </ol>
</section>
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <!--<h3 class="box-title">Irrigaciones</h3>-->
    </div>
    <div class="box-body">
      <form id="form_event" action="<%= view.endpoint('/irrigation/eventsave')%>" method="post">
        <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">

          <div class="form-group col-md-6">
            <label>Esquema de Riego</label>
            <select id="irrigation"  class="form-control" required>
              <option value="" disabled selected>Seleccione esquema</option>
              <% data.irrigations.forEach(function(irrigation) {%>
                  <option value="<%= irrigation.id %>"> <%= irrigation.name %> </option>
              <% }); %>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>Grupo de valvulas</label>
            <select id="group"  class="form-control " required>
              <option value="" disabled selected>Seleccione grupo</option>
            </select>
          </div>
        </div>
        <!--<div class="col-sm-12 col-md-4 col-lg-4">
          <div class="box-header">
            <h3 class="box-title">Valvulas por grupo </h3>
          </div>
        </div>-->
      </div>
       
        
      



    
      <table class="table table-hover">
      <tr>
        <th>Dia</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Periodo</th>
      </tr>
      <tr>
        <td>
          <div class="checkbox">
            <label>
              <input id="groupid" type="hidden" name="data1[group_id]" value="">
              <input type="checkbox" name="data[1][day]" value="1">
              lunes
            </label>
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[1][time_start]">
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[1][time_end]">
          </div>
        </td>
        <td>
          <select name="data[1][repeat_type]" class="form-control input-sm" style="max-width:50%;"  >
            <option value="" disabled selected>Seleccione Periodo</option>
            <option value="one">un día</option>
            <option value="week">semana</option>
            <option value="month">mes</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="data[2][day]" value="2" >
              martes
            </label>
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[2][time_start]">
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[2][time_end]">
          </div>
        </td>
        <td>
          <select name="data[2][repeat_type]" class="form-control input-sm" style="max-width:50%;" >
            <option value="" disabled selected>Seleccione Periodo</option>
            <option value="one" >un día</option>
            <option value="week" >semana</option>
            <option value="month" >mes</option>
          </select>
        </td>
      </tr>
        <tr>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="data[3][day]" value="3" >
              miercoles
            </label>
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[3][time_start]">
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[3][time_end]">
          </div>
        </td>
        <td>
          <select name="data[3][repeat_type]" class="form-control input-sm" style="max-width:50%;" >
            <option value="" disabled selected>Seleccione Periodo</option>
            <option value="one" >un día</option>
            <option value="week" >semana</option>
            <option value="month" >mes</option>
          </select>
        </td>
      </tr>
        <tr>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="data[4][day]" value="4" >
              jueves
            </label>
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[4][time_start]">
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[4][time_end]">
          </div>
        </td>
        <td>
          <select name="data[4][repeat_type]" class="form-control input-sm" style="max-width:50%;" >
            <option value="" disabled selected>Seleccione Periodo</option>
            <option value="one" >un día</option>
            <option value="week" >semana</option>
            <option value="month" >mes</option>
          </select>
        </td>
      </tr>
        <tr>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="data[5][day]" value="5" >
              viernes
            </label>
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[5][time_start]">
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[5][time_end]">
          </div>
        </td>
        <td>
          <select name="data[5][repeat_type]" class="form-control input-sm" style="max-width:50%;" >
            <option value="" disabled selected>Seleccione Periodo</option>
            <option value="one" >un día</option>
            <option value="week" >semana</option>
            <option value="month" >mes</option>
          </select>
        </td>
      </tr>
        <tr>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="data[6][day]" value="6" >
              sabado
            </label>
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[6][time_start]">
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[6][time_end]">
          </div>
        </td>
        <td>
          <select name="data[6][repeat_type]" class="form-control input-sm" style="max-width:50%;" >
            <option value="" disabled selected>Seleccione Periodo</option>
            <option value="one" >un día</option>
            <option value="week" >semana</option>
            <option value="month" >mes</option>
          </select>
        </td>
      </tr>
        <tr>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="data[7][day]" value="7" >
              domingo
            </label>
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[7][time_start]">
          </div>
        </td>
        <td>
          <div class="input-group bootstrap-timepicker">
            <input type="text" class="form-control input-sm timepicker" size="7" name="data[7][time_end]">
          </div>
        </td>
        <td>
          <select name="data[7][repeat_type]" class="form-control input-sm" style="max-width:50%;" >
            <option value="" disabled selected>Seleccione Periodo</option>
            <option value="one" >un día</option>
            <option value="week" >semana</option>
            <option value="month" >mes</option>
          </select>
        </td>
      </tr>
      
      </table>
    
      <INPUT TYPE="SUBMIT" class="btn  btn-primary" VALUE="Guardar">
      <a href="javascript:history.back()" class="btn btn-warning">Cancelar</a>
    </form>




  
    </div>
  <!-- /.box-body -->
  </div>
 
 
</section>
<!-- Main content -->

<script type="text/javascript">
  $('#irrigation').on('change',function(){
    let irrigation_id =$(this).val();
    $.ajax({
      type:'POST',
      url: '/calendar/getgroups',
      data: {irrigation_id:irrigation_id},
      success:function(data){
        
        $('#group').html('');
        $('#group').append('<option value="">Seleccione grupo </option>');
        
        $.each(data.groups,function(key,value){
          $('#group').append('<option value=' + value.id + '>' + value.name + '</option>');  
        });
      }
    });
  });

  $('#group').on('change',function(){
    let group_id =$(this).val();
    $.ajax({
      type:'POST',
      url: '/calendar/getgroupsdata',
      data: {group_id:group_id},
      success:function(data){
        console.log(data)
        console.log(data.group.id)
        $('#groupid').val(data.group.id)
      }
    });
  });

 
</script>




