
    <!-- Content Header (Page header) -->
    <section class="content-header agrintell-page" data-sidebar="calendar">
      <h1>
        Calendar
        <small>Control de valvulas</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Calendario</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">Esquema de irrigación</h4>
            </div>
            <div class="box-body">

              <a href="<%= view.endpoint('/calendar/newScheduleIrrigation')%>" class="btn btn-success" title="Irrigaciones"><i class="fa fa-plus"></i> Crear Irrigaciones</a>
          
              <br><br>
              <label>Esquema de Riego</label>
              <select id="irrigation"  class="form-control" required>
                <option value="" disabled selected>Seleccione esquema</option>
                <% data.irrigations.forEach(function(irrigation) {%>
                    <option value="<%= irrigation.id %>"> <%= irrigation.name %> </option>
                <% }); %>
              </select>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
          <!--<div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">Grupos activos</h4>
            </div>
            
            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tr>
                  <td>Grupo</td>
                  <td>
                    <div style="display: inline;">
                      <button type="button" class="btn  btn-primary btn-sm"><i class="fa fa-eye"></i></button>
                      <button type="button" class="btn  btn-warning btn-sm"><i class="fa fa-power-off"></i></button>
                      <button type="button" class="btn  btn-danger btn-sm"><i class="fa fa-close"></i></button>
                    </div>
                   </td>
                </tr>
                <tr>
                  <td>Clean database</td>
                  <td>
                    <div style="display: inline;">
                      <button type="button" class="btn  btn-primary btn-sm"><i class="fa fa-eye"></i></button>
                      <button type="button" class="btn  btn-warning btn-sm"><i class="fa fa-power-off"></i></button>
                      <button type="button" class="btn  btn-danger btn-sm"><i class="fa fa-close"></i></button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            
          </div>-->
         
        </div>

        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  <script type="text/javascript">
    $(function () {




    
  var repeatingEvents = [/*{
    title:"My repeating event",

    start: '10:00', // a start time (10am in this example)
    end: '14:00', // an end time (6pm in this example)
    dow: [ 1], // Repeat monday and thursday
    ranges: [{ //repeating events are only displayed if they are within one of the following ranges.
        start: moment().startOf('week'), //next two weeks
        end: moment().endOf('week').add(14,'d'),
    }],
  },/**/
  /*{
    title:"My repeating2 event",

    start: '11:00', // a start time (10am in this example)
    end: '13:00', // an end time (6pm in this example)
    dow: [ 4 ], // Repeat monday and thursday
    ranges: [
    {
        start: moment('2019-08-01','YYYY-MM-DD'), //all of february
        end: moment('2019-08-23','YYYY-MM-DD'),
    }
    ],
  }/**/
  ];/**/

  //emulate server
  var getEvents = function( start, end ){
    return repeatingEvents;
  }

  $('#calendar').fullCalendar({
    defaultDate: moment(),
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
    defaultView: 'month',
    eventRender: function(event, element, view){
        //console.log(event.start.format());
        return (event.ranges.filter(function(range){
            return (event.start.isBefore(range.end) &&
                    event.end.isAfter(range.start));
        }).length)>0;
    },
    events: function( start, end, timezone, callback ){
        var events = getEvents(start,end); //this should be a JSON request

        callback(events);
    },
  });
  $('#irrigation').on('change',function(){
    let irrigation_id =$(this).val();
    $.ajax({
      type:'POST',
      url: '/calendar/getgroups',
      data: {irrigation_id:irrigation_id},
      success:function(data){
        console.log(data)
        var irrigation = data.irrigation;
        var date_start = moment(irrigation.date_start).format('YYYY-MM-DD');
        var date_end = moment(irrigation.date_end).format('YYYY-MM-DD');
        var struct;
        var arraystruct = [];
        for (let elem of data.groups){
          console.log('----')
          console.log(elem)
          console.log(elem.events)
          console.log(elem.events[0])
          var namegroup = elem.name;
          var idgroup = elem.id
          for (let event of elem.events){
            console.log(event)
            
            var time_start = event.time_start;
            var time_end = event.time_end;
            //console.log(event.day)
            struct = {
              title: namegroup,
              start: event.time_start,
              end: event.time_end,
              dow: [event.day],
              url: '/calendar/getgroupedit/' + idgroup,
              ranges:[
                {
                  start:date_start,
                  end:date_end
                }
              ]
            }
            arraystruct.push(struct)
            
          }
          
          

        }
        console.log(arraystruct)
        /*console.log(arraystruct[0])
        console.log(arraystruct[1])
        console.log(arraystruct[2])*/
        $('#calendar').fullCalendar('removeEvents');
        $("#calendar").fullCalendar('addEventSource', arraystruct); 
        
      }
    });
  });
  
  

   
})
</script>