<div class="col-md-4 col-md-offset-4">
	<div class="login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <img src="<%= view.endpoint('/image/reciklr_logo.png') %>" alt="reciklr">
                <h6>Activación</h6>
                <% $active_class = data.active ? "text-success" : ""; %>
                <label class="<%= $active_class %>"><%= data.response %></label>
            </div>
        </div>

        <div class="already">
            <a href="<%= view.endpoint('/login')%>">Iniciar Sesión</a>
        </div>
    </div>
</div>