
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Administradores
    <small>Lista</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Administradores</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
         <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Tabla</h4>
                </div>
                <br>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <a href="<%= view.endpoint('/admin/add')%>" class="btn btn-info" title="Nuevo Usuario"><i class="fa fa-plus"></i> Nuevo Admin</a>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped" >
            <thead>
            <tr >
                <th>#</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><%= data.admins[0].dataValues.first_name %></td>
                <td><%= data.admins[0].dataValues.email %></td>
                <td><%= data.admins[0].dataValues.role.name %></td>
                <td style="text-align: right;">
                  <a href="<%= view.endpoint('/admin/view/' + data.admins[0].dataValues.id)%>" class="btn btn-primary btn-xs" title="ver"><i class="fa fa-eye"></i> Ver</a>
                  <a href="<%= view.endpoint('/admin/edit/' + data.admins[0].dataValues.id)%>" class="btn btn-success btn-xs" title="Editar"><i class="fa fa-edit"></i> Editar</a>
                  <button class="btn btn-danger btn-xs" title="Eliminar" disabled><i class="fa fa-close"></i> Eliminar</button>
                </td>
              </tr>
             <% data.admins.forEach(function(admin, index) {%>
             <%if (index < 1) return;%>   
              <tr class="warning">
                <td><%= index + 1 %></td>
                <td><%= admin.dataValues.first_name %></td>
                <td><%= admin.dataValues.email %></td>
                <td><%= admin.dataValues.role.name %></td>
                <td style="text-align: right;">
                  <a href="<%= view.endpoint('/admin/view/' + admin.dataValues.id)%>" class="btn btn-primary btn-xs" title="Ver"><i class="fa fa-eye"></i> Ver</a>
                  <a href="<%= view.endpoint('/admin/edit/' + admin.dataValues.id)%>" class="btn btn-success btn-xs" title="Editar"><i class="fa fa-edit"></i> Editar</a>
                  <form style="display: inline-block;" action="<%= view.endpoint('/admin/delete/' + admin.dataValues.id)%>" method="post">
                  <a href="javascript:;" class="btn btn-danger btn-xs" title="Eliminar" onclick="if(confirm(&quot;\u00bfDesea eliminar el registro? <%= admin.dataValues.name%>?&quot;)){parentNode.submit();}return false;"><i class="fa fa-close"></i> Eliminar</a>
                  </form>
                </td>
              </tr>
          <% }); %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

