<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Mi Perfil
    <small>Editar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Editar</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Información de <%= data.admin.dataValues.first_name %></h4>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <form action="<%= view.endpoint('/admin/profile/editsave/') + data.admin.dataValues.id %>" method="post" role="form" id="admins-edit-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 form-group">
                        <label for="firstName">Nombres</label>
                        <input type="text" class="form-control" id="firstName" name="data[first_name]" value="<%= data.admin.dataValues.first_name %>" autofocus required>
                        <input type="hidden" class="form-control"  name="data[active]" value="<%= data.admin.dataValues.active %>">
                    </div>
                    <div class="col-md-6 col-sm-6 form-group">
                        <label for="lastName">Apellidos </label>
                        <input type="text" class="form-control" id="lastName" name="data[last_name]" value="<%= data.admin.dataValues.last_name %>" required>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 form-group">
                        <label for="email">Correo Electrónico </label>
                        <input type="email" class="form-control" id="email" name="data[email]" value="<%= data.admin.dataValues.email %>" required>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group">
                    <label for="role">Rol</label>
                    <select name="data[role_id]" id="role" class="form-control">
                        <option value="" disabled selected><%- helper.func.text_relation_field(data.admin.dataValues.role, 'name','Seleccione el rol') %></option>
                        <% data.roles.forEach(function(role, index) {%>
                            <option value="<%= role.dataValues.id %>"> <%= role.dataValues.name %></option>
                        <% }); %>
                    </select>
                    </div>
                </div>
            <br>
            <button type="submit" class="btn btn-info">Guardar</button>
            <a href="javascript:history.back()" class="btn btn-warning">Cancelar</a>
            </form>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
