
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Mi Perfil 
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Administrador</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Información de <b> <%= data.admin.dataValues.first_name %></b></h3>
        </div>
        <div class="box-body" >
          <div class="row">
            <div class=" col-sm-12 col-md-5 col-lg-5">
              <div class="table-responsive panel">
                <table class="table">
                    <tbody>
                      <tr>
                          <td class="text-green"><i class="fa fa-user"></i> Nombres</td>
                          <td><%= data.admin.dataValues.first_name %></td>
                      </tr>
                      <tr>
                          <td class="text-green"><i class="fa fa-users"></i> Apellidos</td>
                          <td><%= data.admin.dataValues.last_name %></td>
                      </tr>
                      <tr>
                          <td class="text-green"><i class="fa fa-envelope"></i> Correo</td>
                          <td> <%= data.admin.dataValues.email %>      </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class=" col-sm-12 col-md-5 col-lg-5">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                        <td class="text-green"><i class="fa fa-list-ol"></i> Rol</td>
                        <td><%= data.admin.dataValues.role.name %></td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-calendar"></i> Creado</td>
                        <td><%= data.admin.dataValues.created %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
         
            </div>
          </div>
          <br>
         <a href="<%= view.endpoint('/admin/profile/edit/' + data.admin.id)%>" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
