 <style type="text/css">
   html, body {
  height: 100%;
}
#map{
    width: auto;
    height: 0;
    padding-bottom: 41%; /*image width * 100 / height*/
    background-color: #ccc;
}
#info-bt{
    border-radius: 14px;
    border: 0;
    padding: 0px 5px;
    font-size: 14px;
  }
  a.disabled {
  pointer-events: none;
  cursor: default;
  }
  .msg-top{
    margin-bottom: 0px;
  }
  .icon-center{
    padding: 6px;
  }
  .txbackg-color{
    background-color: #dfebff;
  }

 </style>
 <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
    </style>
    <!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Campos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Campos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="box box-default">
      <div class="box-header with-border">
        <div class="row">
        </div>
        
         
      </div>
      <div class="box-body">
        <form action="<%= view.endpoint('/field/addsave')%>" onkeydown="return event.key != 'Enter';" method="post" id="field-add-form">

          <div class="row">
            <input id="pac-input" class="form-control" type="text" placeholder="Busqueda de Lugares">
         
            <div class="collapse col-sm-12 col-md-12 col-lg-12" id="infoButton">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="direct-chat-msg msg-top" >
                    <div class="direct-chat-img icon-center" ><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in disabled">+</a></div></div>
                    <div class="direct-chat-text txbackg-color">Haga click en este boton para acercar el mapa.</div>
                  </div>
                  <div class="direct-chat-msg">
                    <div class="direct-chat-img icon-center"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in disabled">−</a></div></div>
                    <div class="direct-chat-text txbackg-color">Haga click en este boton para alejar el mapa.</div>
                  </div>
                </div>
              </div>

            <div class="col-md-12 form-group">
              <div id="map"></div>
            </div>
          </div>

          

        </form>
         
      </div>
      <!-- /.box-body -->
    </div>
  <!-- /.row (main row) -->

</section>
    <!-- /.content -->
  <%- view.script(['jquery.min.js'], 'js') -%>




<script>

  var markerPoint;
  

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -16.710, lng: -71.526},
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.HYBRID
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });


        google.maps.event.addListener(map, 'click', function(event) {
          placeMarker(event.latLng);
          //alert(event.latLng);
        });

        function placeMarker(location) {
          if(typeof(markerPoint) != 'undefined'){
            markerPoint.setMap(null);  
          }
          
          markerPoint = new google.maps.Marker({
            position: location, 
            map: map,
            
          });
          
          var contentString = function (markerPoint) {
            console.log(markerPoint);
            var contentString2 = '<div id="content">'+
            '<form action="<%= view.endpoint('/field/addsave')%>" method="post">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h4 id="firstHeading" class="firstHeading">'+'Nuevo Campo'+'</h4>'+
            '<div id="bodyContent">'+
            '<p>' +
            '<b>Nombre del Campo:</br>'+
            '<b><input type="text" class="form-control" id="name" name="data[name]" autofocus required></b></br>'+
            '<b>Longitud:</b> '+markerPoint.position.lng()+'</br>'+
            '<b>Latitud:</b> '+markerPoint.position.lat()+'</br></br>'+
            '<input type="hidden" value="'+markerPoint.position.lng()+'" name="data[lng]">'+
            '<input type="hidden" value="'+markerPoint.position.lat()+'" name="data[lat]">'+
            '<b><button class="btn btn-sm btn-primary btn-students" type="submit" data-id="'+1+'">Guardar</button></b> '+
            '</p>'+
            '</div>'+
            '</form>'+
            '</div>';
            return contentString2;
          }

          var infowindow = new google.maps.InfoWindow({
            content: contentString(markerPoint)
          });
           infowindow.open(map, markerPoint);
          
          
          $("#lng").val(location.lng());
          $("#lat").val(location.lat());
        }
      }

    </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=places&callback=initAutocomplete"
         async defer></script>

