
<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Agregar Nuevo Cliente</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= view.endpoint('/home') %>">Inicio</a></li>
            <li class="breadcrumb-item active">Agregar cliente</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-title">
                    <h4>Cliente</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form action="<%= view.endpoint('/customer/add')%>" method="post" role="form" id="admins-add-form">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="firstName">Nombres de la Organización <span>*</span></label>
                                    <input type="text" class="form-control" id="name_organization" name="data[name_organization]" autofocus required>
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="lastName">RUC</label>
                                    <input type="text" class="form-control" id="ruc" name="data[ruc]">
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="username">Teléfono <span>*</span></label>
                                    <input type="text" class="form-control" id="phone" name="data[phone]" required>
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="addres">Dirección Fiscal <span>*</span></label>
                                    <input type="text" class="form-control" id="address" name="data[address]" required>
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="email">Correo Electrónico <span>*</span></label>
                                    <input type="email" class="form-control" id="email" name="data[email]" required>
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="role">Sector <span>*</span></label>
                                    <select name="data[sector_id]" id="sector" class="form-control">
                                        <% data.sectors.forEach(function(sector, index) {%>
                                            <option value="<%= sector.dataValues.id %>"> <%= sector.dataValues.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-12 form-group">
                                    <h5 class="text-dark">Responsable:</h5>
                                </div>
                                
                                
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="text">Nombres <span>*</span></label>
                                    <input type="text" class="form-control" id="first_name" name="data[first_name]" required>
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="text">Apellidos <span>*</span></label>
                                    <input type="text" class="form-control" id="last_name" name="data[last_name]" required>
                                </div>
                                

                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="role">Cargo en la Empresa <span>*</span></label>
                                    <select name="data[position_id]" id="role" class="form-control">
                                        <% data.positions.forEach(function(position, index) {%>
                                            <option value="<%= position.dataValues.id %>"> <%= position.dataValues.name %></option>
                                        <% }); %>
                                    </select>
                                    <br>
                                </div>
                                <div class="col-md-6 col-sm-6 form-group">
                                    <label for="text">Usuario <span>*</span></label>
                                    <input type="text" class="form-control" id="user_name" name="data[user_name]" required>
                                </div>
                                
                            </div>
                            <button type="submit" class="btn btn-info">Guardar</button>
                            <a href="javascript:history.back()" class="btn btn-warning">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>