<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Cambiar Contraseña
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Contraseña</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Contraseña </h4>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="box-body">
                <form action="<%= view.endpoint('/farmer/changepassword')%>" method="post" role="form" id="changepassword-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 form-group">
                            <label for="oldPassword">Actual Contraseña <span>*</span></label>
                            <input type="password" class="form-control" id="oldPassword" name="data[password]" autofocus required>
                        </div>
                        <div class="col-md-12 col-sm-6 form-group">
                            <label for="newPassword">Nueva Contraseña <span>*</span></label>
                            <input type="password" class="form-control" id="newPassword" name="data[newpassword]" pattern=".{5,}" title="Se requiere un minimo 5 caracteres" required>
                        </div>
                        <div class="col-md-12 col-sm-6 form-group">
                            <label for="confirmPassword">Confirmar Contraseña <span>*</span></label>
                            <input type="password" class="form-control" id="confirmPassword" name="data[confirmpassword]" pattern=".{5,}" title="Se requiere un minimo 5 caracteres" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="<%= view.endpoint('/home')%>" class="btn btn-warning">Cancelar</a>
                </form>
             <br>
            </div>
          </div>
        </div>
      
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->






