
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Agricultores
    <small>Lista</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Agricultores</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
         <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Tabla</h4>
                </div>
               
               
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Empresa/Nombre</th>
                    <th>Correo</th>
                    <th>Fecha de Creación</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <% data.users.forEach(function(user, index) {%>
                <tr class="warning">
                  <td><%= index + 1 %></td>
                  <td><%=user.first_name%> <%= user.organization_name %></td>
                  <td><%= user.email %> </td>
                  <td><%= user.created%></td>
                  <td><%= user.phone %></td>
                  <td style="text-align: right;">
                  <a href="<%= view.endpoint('/farmer/view/' + user.id)%>" class="btn btn-primary btn-xs" title="Ver"><i class="fa fa-eye"></i> Ver</a>
                  <a href="<%= view.endpoint('/farmer/edit/' + user.id)%>" class="btn btn-success btn-xs" title="Editar"><i class="fa fa-edit"></i> Editar</a>
                  <form style="display: inline-block;" action="<%= view.endpoint('/farmer/delete/' + user.id)%>" method="post">
                  <a href="javascript:;" class="btn btn-danger btn-xs" title="Eliminar" onclick="if(confirm(&quot;\u00bfDesea eliminar el registro <%= user.name%>?&quot;)){parentNode.submit();}return false;"><i class="fa fa-close"></i> Eliminar</a>
                  </form>
                </td>
                </tr>
            <% }); %>
            </tbody>
           
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
