<style type="text/css">
  #map{
    width: auto;
    height: 0;
    padding-bottom: 41%; /*image width * 100 / height*/
    background-color: #ccc;
}
#info-bt{
    border-radius: 14px;
    border: 0;
    padding: 0px 5px;
    font-size: 14px;
  }
  a.disabled {
  pointer-events: none;
  cursor: default;
  }
  .msg-top{
    margin-bottom: 0px;
  }
  .icon-center{
    padding: 6px;
  }
  .txbackg-color{
    background-color: #dfebff;
  }
</style>



<div id="result"></div>
    <!-- Content Header (Page header) -->
<section class="content-header agrintell-page" data-sidebar="field">
  <h1>
    Campos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Campos</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="box box-default">
      <div class="box-header with-border">
        <br>
        <div class="row">
          <div class="col-md-12">
             <form class="form-horizontal">
              <div class="form-group">
                  <label for="inputEmail3" class="col-md-3 control-label">Mis Campos:</label>
                  <div class="col-md-3">
                    <select id="field-change" name="data[role_id]" class="form-control" >
                        <option value=""> Seleccione un Campo</option>
                      <% data.fields.forEach(function(field) {%>
                        <option value="<%= field._id %>"> <%= field.name %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <a href="<%= view.endpoint('/field/add')%>" class="btn btn-info" title="Nuevo Usuario"><i class="fa fa-plus"></i> <span>Nuevo Campo</span> </a>

                  </div>
                  <div class="col-md-3" style="padding: 5px;">
                      <button id="info-bt"  type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#infoButton" title="Información" /><i class="fa fa-question-circle"></i>
                  </div>
              </div>
            </form>
          </div>
          
        </div>

        <div class="collapse col-sm-12 col-md-12 col-lg-12" id="infoButton">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="direct-chat-msg msg-top" >
                <div class="direct-chat-img icon-center" ><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in disabled">+</a></div></div>
                <div class="direct-chat-text txbackg-color">Haga click en este boton para acercar el mapa.</div>
              </div>
              <div class="direct-chat-msg">
                <div class="direct-chat-img icon-center"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in disabled">−</a></div></div>
                <div class="direct-chat-text txbackg-color">Haga click en este boton para alejar el mapa.</div>
              </div>
            </div>
          </div>
          
      </div>
      <div class="box-body">
         <div id="map"></div> 
      </div>
      <!-- /.box-body -->
    </div>
  <!-- /.row (main row) -->

</section>
    <!-- /.content -->
<!-- Modal -->
<div class="modal fade in" id="DetailPointModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Detalles de: <span id="deviceid"></span></h4>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6 form-group">
              <label for="data" class="col-sm-6 text-blue">RSSI Tx</label>
              <div class="col-sm-6"><p id="rssitx"></p> </div>
          </div>
          <div class="col-md-6 col-sm-6 form-group">
              <label for="data" class="col-sm-6 text-blue">RSSI Rx</label>
              <div class="col-sm-6"><p id="rssirx"></p></div>
          </div>
          <div class="col-md-6 col-sm-6 form-group">
              <label for="data" class="col-sm-6 text-blue">Bateria</label>
              <div class="col-sm-6"><p id="battery"></p></div>
          </div>
          <div class="col-md-6 col-sm-6 form-group">
              <label for="data" class="col-sm-6 text-blue">Estado</label>
              <div class="col-sm-6"><p id="state"></p></div>
          </div>
        </div>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%- view.script(['jquery.min.js'], 'js') -%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWkDxqI5E4MNT6IztGCgj-Xrlo8n0_do&libraries=drawing" ></script>

<script>
  var image  = {
    url: '',
    size: new google.maps.Size(30, 30),
    labelOrigin: new google.maps.Point(15, 15)
  };
  var field_id = $('#field-change').val();
  var markers = [];
  var map;
  var polygonTmp;
  var infowindow;
  var infowindow2;
  var marker;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -16.710, lng: -71.526},
      zoom: 19,
      mapTypeId: google.maps.MapTypeId.HYBRID
    });
  }
 
  $('#field-change').change(function(){
    getField();
  })

  function getField(){
    var field_id = $('#field-change').val();
     $.ajax({
      type: 'GET',
      url: '/farm/changefield',
      data: {field_id:field_id},
    }).done(function(data){
      
        var y = (data.field.location.coordinates[0]);
        var x = (data.field.location.coordinates[1]);

        
        var myLatLng = {lat: x, lng: y};
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 19,
          mapTypeId: google.maps.MapTypeId.HYBRID
        });
        marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
        });
        marker.id = data.field._id;
        //infowindows2
        infowindow2 = new google.maps.InfoWindow();
        
        // listen infowindos for marker
        marker.addListener('click',function(event){
          var coorOfClick = event.latLng.toJSON();
          polygonTmp = event;
          var id_marker = this.id;
          
          var datastring = '<button title="Borrar" class=" btn btn-danger btn-sm" onclick = "delete_marker(\''+ id_marker + '\');"><i class="fa fa-trash-o"></i></button>';
          
          infowindow2.setContent(datastring);
          infowindow2.open(map, marker);
        })
        
        polygonsG=drawpolygon(data.polygons,map);
        //generate markers
        var infowindow1 = new google.maps.InfoWindow();

        generate_markers(map,data.devices,data.devices.length,infowindow1);
        //tools panel google mpas
        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingControl: false,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['polygon']
          },
          polygonOptions:{
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35
            }
        });
        drawingManager.setMap(map);

        //infowindows
        infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(map, 'click', function() {
          infowindow.close();
        });
        //options for polygons (delete or edit)
        polygonsG.addListener('click', function(event) {
          var coorOfClick = event.latLng.toJSON();
          var id_poly = event.feature.getId();
          polygonTmp = event;
          
          var data = {id:id_poly,coor:coorOfClick};
          
          var datastring = '<button title="Borrar" class=" btn btn-danger btn-sm" onclick = "delete_all(\''+ id_poly + '\');"><i class="fa fa-trash-o"></i></button>';
          
          
          infowindow.setPosition(event.latLng);
          infowindow.setContent(datastring);
          infowindow.open(map, polygonsG);

        });

      });
  }
 function generate_markers(map,array,length,infowindow){
    for (i = 0; i < length; i++) {
      if (array[i].typedevice == 2) { //sensor
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(array[i].location.coordinates[0], array[i].location.coordinates[1]),
          map: map,
           label: {
            fontFamily: 'Fontawesome',
            fontSize: '30px',
            text: '\uf147',
            color: '#f39c12',
          },
          icon: image
        });  
      } else if (array[i].typedevice ==1) { //valve
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(array[i].location.coordinates[0], array[i].location.coordinates[1]),
          map: map,
           label: {
            fontFamily: 'Fontawesome',
            fontSize: '30px',
            text: '\uf1e9',
            color: '#3c8dbc',
          },
          icon: image
        });
      }else{
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(array[i].location.coordinates[0], array[i].location.coordinates[1]),
          map: map,
           label: {
            fontFamily: 'Fontawesome',
            fontSize: '30px',
            text: '\uf276',
            color: '#d2d6de',
          },
          icon: image
        });
      }
      

      marker.id = array[i]._id;
      marker.code = array[i].device_id;
      marker.tp = array[i].typedevice;
      //marker.const = 4;
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          /*var content = '<div style= "text-align: center;"><h5><strong> '+ `${marker.code}` + '\</strong></h5></div>\
          <div style= "text-align: center;"><h5><strong></strong></h5></div>\
          <button id="launchModal" title="Ver Detalles" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailPointModal" onclick = "launch_modal(\''+ marker.id + '\');" ><i class="fa fa-eye"></i></button>';*/

          var content = '<div style= "text-align: center;"><h5><strong>\ '+ `${(marker.tp==1)?'Valvula: ':((marker.tp==2)?'Sensor: ':'Coordinador: ')}` + '\ '+ `${marker.code}` + '\</strong></h5></div>\
          <div style= "text-align: center;"><h5><strong></strong></h5></div>\
          <button id="launchModal" title="Ver Detalles" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailPointModal" onclick = "launch_modal(\''+ marker.id + '\');" ><i class="fa fa-eye"></i></button>\
          <a href="/device/graph_from_device1/'+marker.id+'" title="Grafica 1" class="btn btn-warning btn-sm" onclick="window.open(\'/device/graph_from_device1/' + marker.id+'\',\''+marker.id+'\',\'width=500,height=500, top=0\'); return false;" >\
          <i class="fa fa-area-chart"></i></a>\
          <a href="/device/graph_from_device2/'+marker.id+'" title="Grafica 1" class="btn btn-info btn-sm" onclick="window.open(\'/device/graph_from_device2/' + marker.id+'\',\''+marker.id+'\',\'width=500,height=500, top=0\'); return false;" >\
          <i class="fa fa-line-chart"></i></a>';

          var contentString = content;
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        }
      })(marker, i));
       markers.push(marker);
    }
     
  }

 function drawpolygon(data,map){
    groupPolygon ={ 
      "type": "FeatureCollection",
      "features":data,
    }
   //var polygons = map.data.addGeoJson(groupPolygon);

    var polygons = new google.maps.Data({
      style:{
        strokeColor: '#ff0000',
        strokeOpacity:.8,
        strokeWeight:1,
        fillColor: '#ff0000',
        fillOpacity:.1
      }
    });
    polygons.addGeoJson(groupPolygon);
    polygons.setMap(map);
    return polygons;
 }
 function delete_all(id){

  var delete1 = confirm('Esta seguro que desea eliminar este cultivo y sus detalles y dispositivos?');
  if (delete1) {
    $.ajax({
      type: 'POST',
      url: '/farmer/deletePolygonAll',
      data: {idpolygon: id},
      success:function(data){
        var op = data.op;
        DeletePolygonRender(op);
      }
    })
  }
 }
 function delete_marker(id){
  var delete1 = confirm('Esta seguro que desea eliminar la ubicacion del campo?');
  if (delete1) {
    $.ajax({
      type: 'POST',
      url: '/farmer/deleteMakerField',
      data: {id: id},
      success:function(data){
        
        if(data.result==0){
          $('#result').html(
              `<div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <i class="icon fa fa-check"></i> Debe borrar todos los cultivos antes de borrar el marcador de este campo  <strong>.</strong> "
                </div>` )
        }
        else{
          marker.setMap(null);  
        }
        
      }
    })
  }
 }
  function launch_modal(idPoint){
    $.ajax({
      type: "GET",
      url: '/farm/detailDevice/' + idPoint,
      success: function(data){
        
        var detail = data.point.readings[data.point.readings.length-1];
        $('#deviceid').text(data.point.code);
        if (detail==undefined) {
          $('#rssitx').text("- -");
          $('#rssirx').text("- -");
          $('#battery').text("- -");
          $('#state').text("- -");
          
        }
        else{
          $('#rssitx').text(detail.rssitx+' dBm');
          $('#rssirx').text(detail.rssitx+' dBm');
          $('#battery').text(detail.battery+' Voltios');
          $('#state').text(detail.state==true?'activo':'no activo');
          
        }

      }
    });
  }

 function DeletePolygonRender(op){
  
  if (op) {

    polygonTmp.feature.setGeometry(null);
    infowindow.close();
  }
  else{
    return
  }
  
 }
 
$( document ).ready(function() {
  if($('#field-change option').length > 1){
    $('#field-change').prop("selectedIndex", 1);
    getField();
  }
  
  initMap();
});

</script>  <!-- Content Header (Page header) -->
