<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Mi Perfil
    <small>Editar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/farmer') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Editar</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Información de <%= data.farmer.dataValues.first_name %></h4>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <form action="<%= view.endpoint('/farmer/profile/editsave/') + data.farmer.dataValues.id %>" method="post" >
                 <div class="row">
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="email">Nombre de la organización</label>
                    <input type="text" class="form-control" name="data[organization_name]" value="<%= data.farmer.organization_name %>" >
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="firstName">Nombres</label>
                    <input type="text" class="form-control" name="data[first_name]" value="<%= data.farmer.first_name %>">
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="email">RUC</label>
                    <input type="text" class="form-control" name="data[ruc]" value="<%= data.farmer.ruc %>" >
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="lastName">Apellidos </label>
                    <input type="text" class="form-control" name="data[last_name]" value="<%= data.farmer.last_name %>" >
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="email">Correo Electrónico </label>
                    <input type="email" class="form-control" id="email" name="data[email]" value="<%= data.farmer.email %>">
                   
                </div>
               
                <div class="col-md-6 col-sm-6 form-group">
                    <label>Teléfono </label>
                    <input type="text" class="form-control" name="data[phone]" value="<%= data.farmer.phone %>" >
                </div>
                
            </div>
            <br>
            <button type="submit" class="btn btn-info">Guardar</button>
            <a href="javascript:history.back()" class="btn btn-warning">Cancelar</a>
            </form>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
