
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Mi Perfil 
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/farmer') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Perfil</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Perfil de <b> <%= data.farmer.dataValues.first_name %></b></h3>
        </div>
        <div class="box-body" >
          <br>
            <div class="row">
          <div class=" col-sm-12 col-md-5 col-lg-5">
            <div class="table-responsive panel">
              <table class="table">
                  <tbody>
                    <tr>
                        <td class="text-green"><i class="fa fa-institution"></i> Nombre de la organización</td>
                        <td><%- helper.func.text_relation_field(data.farmer, 'organization_name') %></td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-file-text-o"></i> RUC</td>
                        <td><%= data.farmer.ruc%></td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-envelope"></i> Correo</td>
                        <td> <%= data.farmer.email %>  </td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-phone"></i> Teléfono</td>
                        <td> <%= data.farmer.phone %>  </td>
                    </tr>
                    <tr>
                      <td class="text-green"><i class="fa fa-calendar"></i> Fecha de registro</td>
                      <td> <%= data.farmer.created %></td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class=" col-sm-12 col-md-5 col-lg-5">
            <div class="table-responsive panel">
              <table class="table">
                <tbody>
                  <tr>
                      <td class="text-green"><i class="fa fa-user"></i> Nombre</td>
                      <td><%- helper.func.text_relation_field(data.farmer, 'first_name') %></td>
                  </tr>   
                  <tr>
                      <td class="text-green"><i class="fa fa-users"></i> Apellidos</td>
                      <td><%- helper.func.text_relation_field(data.farmer, 'last_name') %></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
       
          </div>
        </div>

          <br>
         <a href="<%= view.endpoint('/farmer/profile/edit/' + data.farmer.id)%>" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
