
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Agricultor
    <small>Información</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
  
    <li class="active">Vista</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Información de <b> <%= data.email%></b></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          <div class=" col-sm-12 col-md-5 col-lg-5">
            <div class="table-responsive panel">
              <table class="table">
                  <tbody>
                    <tr>
                        <td class="text-green"><i class="fa fa-institution"></i> Nombre de la organización</td>
                        <td><%- helper.func.text_relation_field(data, 'organization_name') %></td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-file-text-o"></i> RUC/DNI</td>
                        <td><%= data.ruc%></td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-envelope"></i> Correo</td>
                        <td> <%= data.email %>  </td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-phone"></i> Teléfono</td>
                        <td> <%= data.phone %>  </td>
                    </tr>
                    <tr>
                      <td class="text-green"><i class="fa fa-calendar"></i> Fecha de registro</td>
                      <td> <%= data.created %></td>
                  </tr>
                    
                  </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class=" col-sm-12 col-md-5 col-lg-5">
            <div class="table-responsive panel">
              <table class="table">
                <tbody>
                  <tr>
                      <td class="text-green"><i class="fa fa-user"></i> Nombre</td>
                      <td><%- helper.func.text_relation_field(data, 'first_name') %></td>
                  </tr>   
                  <tr>
                      <td class="text-green"><i class="fa fa-users"></i> Apellidos</td>
                      <td><%- helper.func.text_relation_field(data, 'last_name') %></td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
       
          </div>
        </div>
        <h4>Ubigeo</h4>
          <div class="row">
          <div class=" col-sm-12 col-md-5 col-lg-5">
            <div class="table-responsive panel">
              <table class="table">
                  <tbody>
                    <tr>
                        <td class="text-green"><i class="fa fa-globe"></i> Pais</td>
                        <td><%=data.country.name%></td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-compass"></i> Estado</td>
                        <td><%=data.state.name%></td>
                    </tr>
                    <tr>
                        <td class="text-green"><i class="fa fa-bookmark-o"></i> Ciudad</td>
                        <td><%=data.city.name%></td>
                    </tr>
                    
                  </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class=" col-sm-12 col-md-5 col-lg-5">
            
       
          </div>
        </div>
        
        <a href="javascript:history.back()" class="btn btn-warning"><i class="fa fa-mail-reply"></i> Atrás</a>
        
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<script type="text/javascript">
  console.log('<%=data.country.name%>'  )
</script>