
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Agregar
    <small>Device</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Agregar Administradores</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Administrador</h4>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="basic-form">
                <form action="<%= view.endpoint('/device/addsave')%>" method="post" role="form" id="devices-add-form">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="firstName">codigo<span>*</span></label>
                            <input type="text" class="form-control" name="data[code]" autofocus required>
                        </div>
                       
                        <div class="col-md-6 col-sm-6 form-group">
                        <label for="role">Tipos <span>*</span></label>
                        <select name="data[type_id]" id="role" class="form-control">
                            <% data.types.forEach(function(type, index) {%>
                                <option value="<%= type.dataValues.id %>"> <%= type.dataValues.name %></option>
                            <% }); %>
                        </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Guardar</button>
                    <a href="<%= view.endpoint('/device/list')%>" class="btn btn-warning">Cancelar</a>
                </form>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->





