<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Válvula

  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Asignar Grupo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Información de <%= data.device.code %></h4>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <form action="<%= view.endpoint('/device/editvalvesave/') + data.device.id %>" method="post">
                <div class="row">
                    
                    <div class="col-md-6 col-sm-6 form-group">
                      <label for="type">Grupo</label>
                      <select name="data[group_id]" class="form-control">
                          <option value="" disabled selected><%- (data.device.group==null)?'Asigne un Grupo':data.device.group.name %></option>
                          <% data.groups.forEach(function(group, index) {%>
                              <option value="<%= group.id %>"> <%= group.name %></option>
                          <% }); %>
                      </select>
                    </div>
                    
                </div>
            <br>
            <button type="submit" class="btn btn-info">Guardar</button>
            <a href="<%= view.endpoint('/device/valves')%>" class="btn btn-warning">Cancelar</a>
            </form>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
