<style type="text/css">

.greyedOut {
    color:#CCC
}
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dispositivo
    
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
  
    <li class="active">Configuración</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Configuración de <b><%= data.device.code%></b></h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <table class="table table-bordered">
            <tr>
              <td colspan="7"> <b>Tension del Suelo:</b></td>
            </tr>
            <tr>
              <th style="width: 10px">#</th>
              <th>Variable</th>
              <th>Valor maximo</th>
              <th>Valor minimo</th>
              <th>Multiplicador</th>
              <th>Estado</th>
              <th>Profundidad</th>
              <th></th>
            </tr>
            <% data.device.details.forEach(function(detail, index) {%>
              <% if(index==4){ %>
                <tr>
                  <td colspan="6"> <b>Estado del Suelo:</b></td>
                </tr>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Variable</th>
                  <th>Valor maximo</th>
                  <th>Valor minimo</th>
                  <th>Multiplicador</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              <% } else if (index== 7)  { %>
                <tr>
                  <td colspan="6"> <b>Estación Meteorologica:</b></td>
                </tr>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Variable</th>
                  <th>Valor maximo</th>
                  <th>Valor minimo</th>
                  <th>Multiplicador</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              <% } %>
            <tr>
              <td class="hidden"><%=detail.id%></td>
              <td><%= index + 1 %></td>
              <td><%=data.variables[index]%></td>
              <td><%=detail.val_max%></td>
              <td><%=detail.val_min%></td>
              <td><%=detail.multiplier%></td>
              <td>
                <%if(detail.activate == false) {%>
                  <small class="label label-default"> desactivado</small>
                <%} else {%>
                  <small class="label label-info"> activado</small>  
                <%}%>
              </td>
              <td><%=detail.depth%> </td>
              <td style="text-align: right; ">
                <form action="<%= view.endpoint('/device/detail/active/' + detail.id)%>" method="post" style="display: inline-block;">
                <a href="javascript:;" class="btn btn-warning btn-xs m-b-10 m-l-5" title="Activar / Desactivar" onclick="if(confirm(&quot;\u00bfDesea cambiar el estado del registro?&quot;)){parentNode.submit();}return false;"><i class="fa fa-power-off"></i> Act./Desc.</a>
                </form>
                <button type="button" class="btn btn-success btn-xs edit" data-toggle="modal" data-target="#modal-default" title="editar"><i class="fa fa-edit"></i> editar </button>  
              </td>
            </tr>
            <% }); %>
          </table>
          <br>
          
          <a href="javascript:history.back()" class="btn btn-warning"><i class="fa fa-mail-reply"></i> Atrás</a>
        </div>
        <!-- /.box-body -->
        
      </div>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Configuración de constantes</b></h3>

        </div>
        <div class="box-body">
          <form action="<%= view.endpoint('/device/save3values/') + data.device.id  %>" method="post">
            <div class="row">
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="firstName">PM</label>
                    <input type="text" class="form-control" name="data[pm]" value="<%= data.device.pm==null?0:parseFloat(data.device.pm).toFixed(2) %>">
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="firstName">CDD</label>
                    <input type="text" class="form-control" name="data[cdd]" value="<%= data.device.cdd==null?0:parseFloat(data.device.cdd).toFixed(2) %>" >
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="firstName">VR</label>
                    <input type="text" class="form-control" name="data[vr]" value="<%= data.device.vr==null?0:parseFloat(data.device.vr).toFixed(2) %>">
                </div>
                
                
            </div>
        <br>
        <button type="submit" class="btn btn-info">Guardar</button>
        <a href="<%= view.endpoint('/device/list')%>" class="btn btn-warning">Cancelar</a>
        </form>
        </div>
        
      </div>
          

    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Editar</h4>
          </div>
          <form action="<%= view.endpoint('/device/savegetvalues')%>" method="post">
            <div class="modal-body">
              <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                  <label for="exampleInputEmail1">Valor Maximo</label>
                  <input id="device_id" type="hidden" name="data[device_id]">
                  <input id="valid" type="hidden" name="data[valid]">
                  <input id="valmax" type="text" class="form-control" name="data[val_max]" style="width: 100px" >
              </div>
              <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                  <label for="exampleInputEmail1">Valor Minimo</label>
                  <input id="valmin" type="text" class="form-control" name="data[val_min]" style="width: 100px" >
              </div>
              <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                  <label for="exampleInputEmail1">Multiplicador</label>
                  <input id="multi" type="text" class="form-control" name="data[multiplier]" style="width: 100px" >
              </div>
              <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                  <label for="exampleInputEmail1">Profundidad</label>
                  <input id="depth" type="text" class="form-control" name="data[depth]" style="width: 100px" >
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<script type="text/javascript">
    
  $('table').on('click','.edit',function(){
    var id = $(this).closest('tr').find('td:eq(0)').text();
    $.ajax({
      method: "GET",
      url: '/device/getvalues/' + id,
      success:function(data){

        $('#device_id').val(data.data.device_id)
        $('#valid').val(data.data.id)
        $('#valmax').val(data.data.val_max)
        $('#valmin').val(data.data.val_min)
        $('#multi').val(data.data.multiplier)
        
        if (data.data.depth != null) {
          $('#depth').prop("disabled",false);
          $('#depth').val(data.data.depth);
        }else{
          $('#depth').prop("disabled",true);
          $('#depth').val('- -');
        }
        
      }
    })
  });
</script>