<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dispositivo
    <small>Editar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Editar</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Información de <%= data.device.code %></h4>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <form action="<%= view.endpoint('/device/editsave/') + data.device.id %>" method="post">
                <div class="row">
                    <div class="col-md-6 col-sm-6 form-group">
                        <label for="firstName">Codigo</label>
                        <input type="text" class="form-control" name="data[code]" value="<%= data.device.code %>" autofocus required>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group">
                      <label for="type">Agricultor</label>
                      <select name="data[farmer_id]" class="form-control">

                          <option value="" disabled selected><%- (data.device.user==null)?'Asigne un Agricultor':data.device.user.first_name || data.device.user.organization_name %></option>
                          <% data.farmers.forEach(function(user, index) {%>
                              <option value="<%= user.id %>"> <%= user.organization_name %> <%=user.first_name%></option>
                          <% }); %>
                      </select>
                    </div>
                    
                </div>
            <br>
            <button type="submit" class="btn btn-info">Guardar</button>
            <a href="<%= view.endpoint('/device/list')%>" class="btn btn-warning">Cancelar</a>
            </form>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
