
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%=data.device.code%>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    
    <li class="active">Gráficos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    
      <!-- /.col (RIGHT) -->
      <div class="col-md-12">
        <div class="box box-success">
          <div class="box-header">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="btn-group" role="group" >
                  <button id="today2"  class="btn btn-default">Día</button>
                  <button id="oneWeekAgo2"  class="btn btn-default">Semana</button>
                  <button id="oneMothAgo2"  class="btn btn-default">Mes</button>
                  <button id="oneYearAgo2"  class="btn btn-default">Año</button>
                </div>
              </div>

              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="form-inline" >
                  <label for="email">Inicio:</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input id="start2_date" type="text" class="form-control pull-right datepicker"  size="8">
                  </div>
                  <div class="input-group bootstrap-timepicker">
                    <input id="start2_time" type="text" class="form-control timepicker" size="7">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <label for="email">Fin:</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input id="end2_date" type="text" class="form-control pull-right datepicker"  size="8">
                  </div>
                  <div class="input-group bootstrap-timepicker">
                    <input id="end2_time" type="text" class="form-control timepicker" size="7">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <button id="btn-send2"  class="btn btn-primary">graficar</button>      
                </div>
              </div>  
            </div>
          </div>
          <div id="chartGraph2" style="height: 400px;"></div>
        </div>
      </div>
      
      
    </div>
    <!-- /.row -->

</section>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<%- view.script(['moment.js'], 'js') -%>
<script>

 
  var data = '<%- JSON.stringify(data) %>';
  data = JSON.parse(data);
  var array_details = data.device.details;
  var cttes = data.device;
  var valves = data.listValves; 
  console.log(data.listValves)
  v_deta = []
  array_details.forEach(function(a){
    v_deta.push(Math.pow(10,a.multiplier))
  });
  console.log(v_deta)
   var val3 = {
     position: 'back',
     yaxis: [
      {
        y: cttes.cdd,
        y2: cttes.pm,
        borderColor: '#996600',
        fillColor: '#996600',
        opacity: 0.3,
        label: {
          borderColor: '#996600',
          style: {
            fontSize: '10px',
            color: '#fff',
            background: '#996600',
          },
          text: 'area',
        }
      },
      {
        y: cttes.vr,
        strokeDashArray: 0,
        borderColor: '#ff5050',
        label: {
          borderColor: '#ff5050',
          style: {
            color: '#fff',
            background: '#ff5050',
          },
          text: 'vr',
        }
      }
    ],
    /*xaxis: [
    {
      x: new Date('21 jul 2019').getTime(),
      x2: new Date('22 jul 2019').getTime(),
      fillColor: '#B3F7CA',
      opacity: 0.4,
      label: {
        borderColor: '#B3F7CA',
        style: {
          fontSize: '10px',
          color: '#fff',
          background: '#00E396',
        },
        offsetY: -10,
        text: 'valve',
      }
    }],*/
  }

   
    var dataTemp = [];
    var dataHum = [];
    var dataRain = [];
    var dataWind = [];
    var dataLight = [];
    var dataAir = [];
    var dataBat = [];
    
    for (var i = 0; i < data.listDevice.length; i++) {

      var read = data.listDevice[i];
      
      dataTemp.push([moment(read.date_read).valueOf(), parseFloat((read.temperature_station*v_deta[7]).toFixed(2))]);
      dataHum.push([moment(read.date_read).valueOf(), parseFloat((read.humidity*v_deta[8]).toFixed(2))]);
      dataRain.push([moment(read.date_read).valueOf(), parseFloat((read.rain*v_deta[9]).toFixed(2))]);
      dataWind.push([moment(read.date_read).valueOf(), parseFloat((read.speed_wind*v_deta[10]).toFixed(2))]);
      dataLight.push([moment(read.date_read).valueOf(), parseFloat((read.light*v_deta[11]).toFixed(2))]);
      dataAir.push([moment(read.date_read).valueOf(), parseFloat((read.pressure_air*v_deta[12]).toFixed(2))]);
      dataBat.push([moment(read.date_read).valueOf(), parseFloat((read.battery2*v_deta[13]).toFixed(2))]);
    }
 

 


    //chartGraph2
    var options = {
      chart: {
        type: 'line',
        stacked: false,
        height: 500,
        zoom: {
          type: 'x',
          enabled: true
        },
        toolbar: {
          autoSelected: 'zoom'
        }
      },
      dataLabels: {
        enabled: false
      },
      colors: ['#77B6EA', '#ff0066', '#cc33ff', '#ffff00', '#66ff33', '#e68a00', '#cc9900'],
      series: [
        {
          name: 'Temperatura',
          type: 'line',
          data: dataTemp
        }, 
        {
          name: 'Humedad',
          type: 'line',
          data: dataHum
        }, 
        {
          name: 'Lluvia',
          type: 'line',
          data: dataRain
        }, 
        {
          name: 'Velocidad del viento',
          type: 'line',
          data: dataWind
        },
        {
          name: 'Luz',
          type: 'line',
          data: dataLight
        },
        {
          name: 'Presión del aire',
          type: 'line',
          data: dataAir
        },
        {
          name: 'Bateria',
          type: 'line',
          data: dataBat
        }
      ],
      stroke: {
        width: [1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5]
      },
      title: {
        text: 'Gráfica: Estación Meteorológica',
        align: 'left',
        offsetY: 10,
        offsetX: 10
      },
      xaxis: {
        type: 'datetime',
      },
      yaxis: {
          title: {
              text: ''
          },
      },
      tooltip: {
        fixed: {
          enabled: false
        },
         x: {
          format: 'dd MMM yyyy HH:mm:ss'
        }
      },
      legend: {
        horizontalAlign: 'left',
        offsetX: 40
      }
    }
    var chart2 = new ApexCharts(
      document.querySelector("#chartGraph2"),
      options
    );
    chart2.render();

  
    //****** filters graph for chart1

    var resetCssClasses = function (activeEl) {
      var els = document.querySelectorAll("button");
      Array.prototype.forEach.call(els, function (el) {
        el.classList.remove('active');
      });
      activeEl.target.classList.add('active')
    }
    

  /// for chart2
    document.querySelector("#today2").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data2(moment().format("YYYY-M-D"),moment().format("YYYY-M-D"));
    })
    document.querySelector("#oneWeekAgo2").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data2(moment().subtract(7,'days').format("YYYY-M-D"), moment().format("YYYY-M-D"))
    })
    document.querySelector("#oneMothAgo2").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data2(moment().subtract(1,'months').format("YYYY-M-D"), moment().format("YYYY-M-D"))
    })
    document.querySelector("#oneYearAgo2").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data2(moment().subtract(1,'years').format("YYYY-M-D"), moment().format("YYYY-M-D"))
    })

  $('#btn-send2').click(function(e){
    let data_st2_date = $('#start2_date').val();
    let data_st2_time = $('#start2_time').val();
    let data_ed2_date = $('#end2_date').val();
    let data_ed2_time = $('#end2_time').val();
    
    let deviceid = data.device.id;
    let dataDevice = {
      deviceid: deviceid,
      data_st1_date: data_st2_date,
      data_st1_time: data_st2_time,
      data_ed1_date: data_ed2_date,
      data_ed1_time: data_ed2_time
    }
    if (validateForm2()) {
      $.ajax({
        type: 'GET',
        url: '/device/getdatafilters',
        data: {datajson: dataDevice},
      }).done(function(data){
        var dT = [];
        var dH = [];
        var dR = [];
        var dW = [];
        var dL = [];
        var dA = [];
        var dB = [];
        for (var i = 0; i < data.listDevice.length; i++) {

          var read = data.listDevice[i];

          dT.push([moment(read.date_read).format().valueOf(), parseFloat((read.temperature*v_deta[7]).toFixed(2))]);
          dH.push([moment(read.date_read).format().valueOf(), parseFloat((read.humidity*v_deta[8]).toFixed(2))]);
          dR.push([moment(read.date_read).format().valueOf(), parseFloat((read.rain*v_deta[9]).toFixed(2))]);
          dW.push([moment(read.date_read).format().valueOf(), parseFloat((read.speed_wind*v_deta[10]).toFixed(2))]);
          dL.push([moment(read.date_read).format().valueOf(), parseFloat((read.light*v_deta[11]).toFixed(2))]);
          dA.push([moment(read.date_read).format().valueOf(), parseFloat((read.pressure_air*v_deta[12]).toFixed(2))]);
          dB.push([moment(read.date_read).format().valueOf(), parseFloat((read.battery2*v_deta[13]).toFixed(2))]);
        }

          chart2.updateOptions({
            series: [        
              {
                data: dT
              }, 
              {
                data: dH
              }, 
              {
                data: dR
              }, 
              {
                data: dW
              },
              {
                data: dL
              },
              {
                data: dA
              },
              {
                data: dB
              }  
            ]
          })
      })  
    }
  });


  function validateForm2()
  {
    let a = $('#start2_date').val();
    let b = $('#end2_date').val();
    if (a==""|| b=="")
    {
      alert("Colocar fechas");
      return false;
    }
    return true;
  }

  function fill_data2(start, end){
    let deviceid = data.device.id;
    let dataDevice = {
      deviceid: deviceid,
      data_st1_date: start,
      data_ed1_date: end,
      data_st1_time: "01:00:00", 
      data_ed1_time: "23:59:59" 
    }
    $.ajax({
      type: 'GET',
      url: '/device/getdatafilters',
      data: {datajson: dataDevice},
    }).done(function(data){

      var dT = [];
      var dH = [];
      var dR = [];
      var dW = [];
      var dL = [];
      var dA = [];
      var dB = [];
      for (var i = 0; i < data.listDevice.length; i++) {
          var read = data.listDevice[i];
          
          dT.push([moment(read.date_read).format().valueOf(), parseFloat((read.temperature*v_deta[7]).toFixed(2))]);
          dH.push([moment(read.date_read).format().valueOf(), parseFloat((read.humidity*v_deta[8]).toFixed(2))]);
          dR.push([moment(read.date_read).format().valueOf(), parseFloat((read.rain*v_deta[9]).toFixed(2))]);
          dW.push([moment(read.date_read).format().valueOf(), parseFloat((read.speed_wind*v_deta[10]).toFixed(2))]);
          dL.push([moment(read.date_read).format().valueOf(), parseFloat((read.light*v_deta[11]).toFixed(2))]);
          dA.push([moment(read.date_read).format().valueOf(), parseFloat((read.pressure_air*v_deta[12]).toFixed(2))]);
          dB.push([moment(read.date_read).format().valueOf(), parseFloat((read.battery2*v_deta[13]).toFixed(2))]);
       }

        chart2.updateOptions({
          series: [        
            {
              data: dT
            }, 
            {
              data: dH
            }, 
            {
              data: dR
            }, 
            {
              data: dW
            },
            {
              data: dL
            },
            {
              data: dA
            },
            {
              data: dB
            }  
          ]
        })
    })  
  }
</script>

