
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%=data.device.code%>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    
    <li class="active">Gráficos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    
      <!-- /.col (RIGHT) -->

      <div class="col-md-12">
        <div class="box box-success">
          <div class="box-header">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                
                <div class="btn-group" role="group" >
                  <button id="today1"  class="btn btn-default">Día</button>
                  <button id="oneWeekAgo1"  class="btn btn-default">Semana</button>
                  <button id="oneMothAgo1"  class="btn btn-default">Mes</button>
                  <button id="oneYearAgo1"  class="btn btn-default">Año</button>
                </div>
              </div>


              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <form action="<%= view.endpoint('/device/download/') + data.device.id %>" method="post" class="form-inline" >
                  <label for="email">Inicio:</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input id="start1_date" type="text" class="form-control pull-right datepicker " name="data[date_start]"  size="8">
                  </div>
                  <div class="input-group bootstrap-timepicker">
                    <input id="start1_time" type="text" class="form-control timepicker" size="7" name="data[time_start]">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <label for="email">Fin:</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input id="end1_date" type="text" class="form-control pull-right datepicker" name="data[date_end]" size="8">
                  </div>
                  <div class="input-group bootstrap-timepicker">
                    <input id="end1_time" type="text" class="form-control timepicker" size="7" name="data[time_end]">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <button type="button" id="btn-send"  class="btn btn-primary">graficar</button>      
                  <button type="submit" class="btn btn-warning" id="btn-download" >Descargar Lecturas</button>   
                </form>
              </div> 

            </div>
            <br>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="form-inline">
                <label for="type">Valvula: </label>
                <select id="selectvalve" name="data[farmer_id]" class="form-control ">
                    <option value="" disabled selected>Seleccione valvula</option>
                    <% data.listValves.forEach(function(valve) {%>
                        <option value="<%= valve.id %>"> <%= valve.code %> </option>
                    <% }); %>
                </select>  
                </div>
              </div>
            </div>
            <!--<a href="javascript:history.back()" class="btn btn-warning"><i class="fa fa-mail-reply"></i> Atrás</a>-->
          </div>
          <div id="chartGraph1" style="height: 400px;"></div>
        </div>
      </div>

     
      
      
    </div>
    <!-- /.row -->

</section>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<%- view.script(['moment.js'], 'js') -%>
<script>

 
  var data = '<%- JSON.stringify(data) %>';
  data = JSON.parse(data);
  var array_details = data.device.details;
  var cttes = data.device;
  var valves = data.listValves; 
  
  v_deta = []
  array_details.forEach(function(a){
    v_deta.push(Math.pow(10,a.multiplier))
  });
  
   var val3 = {
     position: 'back',
     yaxis: [
      {
        y: cttes.cdd,
        y2: cttes.pm,
        borderColor: '#996600',
        fillColor: '#996600',
        opacity: 0.3,
        label: {
          borderColor: '#996600',
          style: {
            fontSize: '10px',
            color: '#fff',
            background: '#996600',
          },
          text: 'area',
        }
      },
      {
        y: cttes.vr,
        strokeDashArray: 0,
        borderColor: '#ff5050',
        label: {
          borderColor: '#ff5050',
          style: {
            color: '#fff',
            background: '#ff5050',
          },
          text: 'vr',
        }
      }
    ],
    xaxis: [],
  }
 
    //chartGraph1
    var dataTen1 = [];
    var dataTen2 = [];
    var dataTen3 = [];
    var dataTen4 = [];
    var dataConduc = [];
    var dataConVol = [];
    var dataTemp1 = []

    var dataTemp = [];
    var dataHum = [];
    var dataRain = [];
    var dataWind = [];
    var dataLight = [];
    var dataAir = [];
    var dataBat = [];
    
    for (var i = 0; i < data.listDevice.length; i++) {

      var read = data.listDevice[i];
      
      dataTen1.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer1*v_deta[0]).toFixed(2))]);
      dataTen2.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer2*v_deta[1]).toFixed(2))]);
      dataTen3.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer3*v_deta[2]).toFixed(2))]);
      dataTen4.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer4*v_deta[3]).toFixed(2))]);
      dataConduc.push([moment(read.date_read).valueOf(), parseFloat((read.conductivity*v_deta[4]).toFixed(2))]);
      dataTemp1.push([moment(read.date_read).valueOf(), parseFloat((read.temperature*v_deta[5]).toFixed(2))]);
      dataConVol.push([moment(read.date_read).valueOf(), parseFloat((read.volume_content*v_deta[6]).toFixed(2))]);
    }
 

    
    var options = {
      annotations: val3,
      chart: {
        type: 'line',
        stacked: false,
        height: 500,
        zoom: {
          type: 'x',
          enabled: true
        },
        toolbar: {
          autoSelected: 'zoom'
        }
      },
      dataLabels: {
        enabled: false
      },
      colors: ['#ff3300','#009900','#9400d3','#ff00ff','#3366cc','#e68a00','#996600'],
      series: [        
        {
          name: 'T1(' + array_details[0].depth + ' cm)',
          type: 'line',
          data: dataTen1,

        },
        {
          name: 'T2(' + array_details[1].depth + ' cm)',
          type: 'line',
          data: dataTen2,
        }, 
        {
          name: 'T3(' + array_details[2].depth + ' cm)',
          type: 'line',
          data: dataTen3
        }, 
        {
          name: 'T4(' + array_details[3].depth + ' cm)',
          type: 'line',
          data: dataTen4
        },/**/
        {
          name: 'Conductividad',
          type: 'line',
          data: dataConduc
        },
        {
          name: 'Contenido Volumétrico',
          type: 'line',
          data: dataConVol
        },
        {
          name: 'Temperatura',
          type: 'line',
          data: dataTemp1
        },
      ],
      
      stroke: {
        //curve: 'smooth',
        width: [1.5,1.5,1.5,1.5,1.5,1.5],
      },
      
      title: {
        text: 'Gráfica: Tensión y Estado de Suelo',
        align: 'left',
        offsetY: 10,
        offsetX: 10
      },
      xaxis: {
        type: 'datetime'
      },
      yaxis: [
        {
          seriesName: 'Tensiometro 1', 
          axisTicks: {
            show: true,
          },
          axisBorder: {
            show: true,
            color: '#ff3300'
          },
          labels: {
            style: {
              color: '#ff3300',
            }
          },
          title: {
            text: "Tensiometros (CBar)",
            style: {
              color: '#ff3300',
            }
          },
          tooltip: {
            enabled: true
          }
        },
        {
          seriesName: 'Tensiometro 1',
          show:false,
        },
        {
          seriesName: 'Tensiometro 1', 
          show: false
        },
        {
          seriesName: 'Tensiometro 1', 
          show: false
        },
        {
          seriesName: 'Conductivity',
          opposite: true,
          axisTicks: {
            show: true,
          },
          axisBorder: {
            show: true,
            color: '#3366cc'
          },
          labels: {
            style: {
              color: '#3366cc',
            }
          },
          title: {
            text: "Conductividad (ms/cm2)",
            style: {
              color: '#3366cc',
            }
          },
        },
        {
          seriesName: 'ContVolumetric',
          opposite: true,
          axisTicks: {
            show: true,
          },
          axisBorder: {
            show: true,
            color: '#e68a00'
          },
          labels: {
            style: {
              color: '#e68a00',
            },
          },
          title: {
            text: "Contenido Volumétrico ",
            style: {
              color: '#e68a00',
            }
          }
        },
        {
          seriesName: 'Temperature1',
          opposite: true,
          axisTicks: {
            show: true,
          },
          axisBorder: {
            show: true,
            color: '#996600'
          },
          labels: {
            style: {
              color: '#996600',
            },
          },
          title: {
            text: "Temperatura",
            style: {
              color: '#996600',
            }
          }
        },
      ],
      tooltip: {
        fixed: {
          enabled: false
        },
         x: {
          format: 'dd MMM yyyy HH:mm:ss'
        }
      },
      legend: {
        horizontalAlign: 'left',
        offsetX: 40,
        showForSingleSeries: false,
      },
    }
    var chart1 = new ApexCharts(
      document.querySelector("#chartGraph1"),
      options
    );
    chart1.render();



  
    //****** filters graph for chart1

    var resetCssClasses = function (activeEl) {
      var els = document.querySelectorAll("button");
      Array.prototype.forEach.call(els, function (el) {
        el.classList.remove('active');
      });
      activeEl.target.classList.add('active')
    }
    document.querySelector("#today1").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data1(moment().format("YYYY-M-D"),moment().format("YYYY-M-D"));
    })
    document.querySelector("#oneWeekAgo1").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data1(moment().subtract(7,'days').format("YYYY-M-D"), moment().format("YYYY-M-D"))
    })
    document.querySelector("#oneMothAgo1").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data1(moment().subtract(1,'months').format("YYYY-M-D"), moment().format("YYYY-M-D"))
    })
    document.querySelector("#oneYearAgo1").addEventListener('click', function (e) {
      resetCssClasses(e)
      fill_data1(moment().subtract(1,'years').format("YYYY-M-D"), moment().format("YYYY-M-D"))
    })

    //filters
    $('#btn-send').click(function(e){
      let data_st1_date = $('#start1_date').val();
      let data_st1_time = $('#start1_time').val();
      let data_ed1_date = $('#end1_date').val();
      let data_ed1_time = $('#end1_time').val();
      
      let deviceid = data.device.id;
      let dataDevice = {
        deviceid: deviceid,
        data_st1_date: data_st1_date,
        data_st1_time: data_st1_time,
        data_ed1_date: data_ed1_date,
        data_ed1_time: data_ed1_time
      }
      if (validateForm1()) {
        $.ajax({
          type: 'GET',
          url: '/device/getdatafilters',
          data: {datajson: dataDevice},
        }).done(function(data){
          var t1 = []
          var t2 = []
          var t3 = []
          var t4 = []
          var dc = []
          var dcv = []
          var tmp = []

      for (var i = 0; i < data.listDevice.length; i++) {
        var read = data.listDevice[i];
        t1.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer1*v_deta[0]).toFixed(2))]);
        t2.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer2*v_deta[1]).toFixed(2))]);
        t3.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer3*v_deta[2]).toFixed(2))]);
        t4.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer4*v_deta[3]).toFixed(2))]);
        dc.push([moment(read.date_read).valueOf(), parseFloat((read.conductivity*v_deta[4]).toFixed(2))]);
        tmp.push([moment(read.date_read).valueOf(), parseFloat((read.temperature*v_deta[5]).toFixed(2))]);
        dcv.push([moment(read.date_read).valueOf(), parseFloat((read.volume_content*v_deta[6]).toFixed(2))]);
    
      }
          chart1.updateOptions({
              series: [        
                {
                  data: t1
                },
                {
                  data: t2
                }, 
                {
                  data: t3
                }, 
                {
                  data: t4
                },
                {
                  data: dc
                },
                {
                  data: dcv
                },
                {
                  data: tmp
                },
              ]
            })
        })
      }
    });
 

  function validateForm1()
  {
    let a = $('#start1_date').val();
    let b = $('#end1_date').val();
    
    if (a==""|| b=="")
    {
      alert("Colocar fechas");
      return false;
    }
    return true;
  }

  function fill_data1(start, end){
    let deviceid = data.device.id;
    let dataDevice = {
      deviceid: deviceid,
      data_st1_date: start,
      data_ed1_date: end,
      data_st1_time: "01:00:00", 
      data_ed1_time: "23:59:59" 
      
    }
    $.ajax({
      type: 'GET',
      url: '/device/getdatafilters',
      data: {datajson: dataDevice},
    }).done(function(data){
      var t1 = []
      var t2 = []
      var t3 = []
      var t4 = []
      var dc = []
      var dcv = []
      var tmp = []

      for (var i = 0; i < data.listDevice.length; i++) {

        var read = data.listDevice[i];
        t1.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer1*v_deta[0]).toFixed(2))]);
        t2.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer2*v_deta[1]).toFixed(2))]);
        t3.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer3*v_deta[2]).toFixed(2))]);
        t4.push([moment(read.date_read).valueOf(), parseFloat((read.tensiometer4*v_deta[3]).toFixed(2))]);
        dc.push([moment(read.date_read).valueOf(), parseFloat((read.conductivity*v_deta[4]).toFixed(2))]);
        tmp.push([moment(read.date_read).valueOf(), parseFloat((read.temperature*v_deta[5]).toFixed(2))]);
        dcv.push([moment(read.date_read).valueOf(), parseFloat((read.volume_content*v_deta[6]).toFixed(2))]);
      }
        chart1.updateOptions({
          series: [        
            {
              data: t1
            },
            {
              data: t2
            }, 
            {
              data: t3
            }, 
            {
              data: t4
            },/**/
            
            {
              data: dc
            },
            {
              data: dcv
            },
            {
              data: tmp
            },
          ]
        })
    })
  }
  $('#selectvalve').on('change',function(){
    var id = $(this).val();
    console.log(id)
    $.ajax({
      type: 'GET',
      url: '/device/valve/' + id,
      success: function(data){
        var color = '#B3F7CA'
        data.valves.forEach(function(e){
          console.log(moment(e.date_read).valueOf())
        })

        var vec = []
        vec.push({
          x: new Date('21 jul 2019').getTime(),
          x2: new Date('22 jul 2019').getTime(),
          fillColor: color,
          
          label: {
            text: 'valve',
          }
        },
        {
          x: new Date('18 jul 2019').getTime(),
          x2: new Date('19 jul 2019').getTime(),
          fillColor: color,
          
          label: {
            text: 'valve',
          }
        },)
        chart1.updateOptions({
          annotations:{
            position: 'back',
            yaxis: [
            {
              y: cttes.cdd,
              y2: cttes.pm,
              borderColor: '#996600',
              fillColor: '#996600',
              opacity: 0.3,
              label: {
                borderColor: '#996600',
                style: {
                  fontSize: '10px',
                  color: '#fff',
                  background: '#996600',
                },
                text: 'area',
              }
            },
            {
              y: cttes.vr,
              strokeDashArray: 0,
              borderColor: '#ff5050',
              label: {
                borderColor: '#ff5050',
                style: {
                  color: '#fff',
                  background: '#ff5050',
                },
                text: 'vr',
              }
            }
            ],
            xaxis: vec,
          }
        })
        /**/
      }
    })
  })
</script>

