<style type="text/css">
  .bar {
    height: 300px;
    overflow-y: scroll;
    font-size: 18px;
  }
</style>
<!-- Content Header (Page header) -->
<section class="content-header agrintell-page" data-sidebar="group">
  <h1>
    Esquema y Grupos
    
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Grupos</li>
  </ol>
</section>
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Grupos</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
           <form class="form-horizontal" action="<%= view.endpoint('/device/addgroup')%>"  method="post">
            <div class="row">
              <div class="col-md-9 col-sm-6 form-group">
                <label class="col-sm-4 control-label">Agregar Grupo:</label>
                <div class="input-group input-group-sm col-sm-6">
                  <input type="text" class="form-control" name="data[name]" required>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat" title="Agregar grupo"><i class="fa fa-plus"></i></button>
                  </span>
                </div>  
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="box-header">
            <h3 class="box-title">Valvulas por grupo </h3>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <ul class="list-group bar">
          <% data.groups.forEach(function(group){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="pull-center">
                <span class="badge" style=" background-color: #088A68;"><%= group.devices.length%></span>  
              </span> 
              <%= group.name %>
              
              <span class="pull-right">
                <button type="button" class="sendButton btn btn-primary btn-xs" value="<%=group.id%>" ><i class="fa fa-eye"></i> Ver</button>
                <a href="<%= view.endpoint('/device/editgroup/' + group.id)%>" class="btn btn-warning btn-xs" title="Editar"><i class="fa fa-cog"></i>Asig. Riego</a>
                <form style="display: inline-block;" action="<%= view.endpoint('/device/deletegroup/' + group.id)%>" method="post">
                <a href="javascript:;" class="btn btn-danger btn-xs" title="Eliminar" onclick="if(confirm(&quot;\u00bfDesea eliminar este grupo ?&quot;)){parentNode.submit();}return false;"><i class="fa fa-close"></i> Eliminar</a>
                </form>
              </span>
            </li>  
          <%});%>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="box-body no-padding">
          <table class="table table-striped" id="listDevices">
            <thead>
              <tr >
                  <th>#</th>
                  <th>Codigo</th>
                  <th >Acciones</th>  
              </tr>
              </thead>
            <tbody>
              <tr class="common" align="center" style="height: 50px;">
                <td colspan="3">Haga click en el boton ver para listar las valvulas de cada grupo.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- /.box-body -->
  </div>
  <!--second page-->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Esquema de Riego</h3>
    </div>
    <div class="box-body">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-irrigation"><i class="fa fa-plus"></i> Nuevo Esquema</button>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="box-header">
          <h3 class="box-title"> grupos </h3>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <ul class="list-group bar">
          <% data.irrigations.forEach(function(group){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="pull-center">
                <span class="badge" style=" background-color: #088A68;"></span>  
              </span> 
              <%= group.name %>
              
              <span class="pull-right">
                <button type="button" class="sendButtonirrigation btn btn-primary btn-xs" value="<%=group.id%>" ><i class="fa fa-eye"></i> Ver</button>
                <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-detailirrigation"><i class="fa fa-file-text-o"></i> Detalles</button>
                <form style="display: inline-block;" action="<%= view.endpoint('/device/deleteirrigation/' + group.id)%>" method="post">
                <a href="javascript:;" class="btn btn-danger btn-xs" title="Eliminar" onclick="if(confirm(&quot;\u00bfDesea eliminar este esquema de irrigación ?&quot;)){parentNode.submit();}return false;"><i class="fa fa-close"></i> Eliminar</a>
                </form>
              </span>
            </li>  
          <%});%>
        </ul>
      </div>
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="box-body no-padding">
          <table class="table table-striped" id="listGroup">
            <thead>
              <tr >
                  <th>#</th>
                  <th>Codigo</th>
                  <th >Acciones</th>  
              </tr>
              </thead>
            <tbody>
              <tr class="common" align="center" style="height: 50px;">
                <td colspan="3">Haga click en el boton ver para listar los grupos.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</section>
<!-- Main content -->


<!--modal -->
<div class="modal fade" id="modal-irrigation" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Esquema </h4>
      </div>
      <div class="modal-body">
        <form action="<%= view.endpoint('/calendar/addirrigation')%>" method="post">
          <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Nombre: </label>
              <input type="text" class="form-control" name="data[name]">
              <br>
              <label for="firstName">Fecha de Inicio</label>
              <input type="text" class="form-control pull-right datepicker" name="data[date_start]">
              <br>
              <label for="firstName">Fecha de Fin</label>
              <input type="text" class="form-control pull-right datepicker" name="data[date_end]">
            </div>
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Descripción</label>
              <textarea class="form-control" rows="4" name="data[description]"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger  pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary ">Guardar</button>
          </div>  
        </form>

      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- modal 2-->
<div class="modal fade" id="modal-detailirrigation" onclick = "launch_modal(\''+ marker.id + '\')">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cultivo </h4>
      </div>
      <div class="modal-body">
        <form action="<%= view.endpoint('/farm/savefield_detail')%>" method="post">
          <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Nombre</label>
              <input id="id" type="hidden" class="form-control" name="data[_id]" value="">
              <input id="typefield" type="text" class="form-control" name="data[typefield]" value="">
            </div>
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Fecha Inicio</label>
              <input id="dateS" type="text" class="form-control" name="data[dateS]" value="">
            </div>
            <div class="col-md-6 col-sm-6 form-group">
              <label for="firstName">Fecha Fin</label>
              <input id="dateC" type="text" class="form-control" name="data[dateC]" value="" >
            </div>
          </div>

          <div class="modal-footer">
            <!--<button type="submit" class="btn btn-info  pull-left">Guardar</button>-->
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>  
        </form>

      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
  $('.sendButton').click(function(){
    let idgroup = $(this).val();
    $.ajax({
      method: "GET",
      url: "/device/devicebygroup",
      data: {"idgroup":idgroup}
    }).done(function(data){
      $('#listDevices > tbody').empty();
      var devices = data.devices;
      var device_data = '';

      $.each(devices,function(key,device){
        device_data += '<tr>';
        device_data += '<td>'+key+1+'</td>';
        device_data += '<td>'+device.code+'</td>';
        device_data += '<td><form style="display: inline-block;" action="<%= view.endpoint('/device/dropgroup/')%>'+ 
                        device.id+'" method="post"><a href="javascript:;" class="btn btn-danger btn-xs" title="Eliminar"'+
                       'onclick="if(confirm(&quot;\u00bfDesea eliminar del grupo?&quot;)){parentNode.submit();}return false;"><i class="fa fa-close"></i> </a></form></td>';

        device_data += '</tr>';
      });
      $('#listDevices').append(device_data);
    });/**/
  })

  $('.sendButtonirrigation').click(function(){
    let idgroup = $(this).val();
    $.ajax({
      method: "GET",
      url: "/device/groupbyirrigation",
      data: {"idgroup":idgroup}
    }).done(function(data){
      $('#listGroup > tbody').empty();
      var devices = data.groups;
      var device_data = '';

      $.each(devices,function(key,device){
        device_data += '<tr>';
        device_data += '<td>'+key+1+'</td>';
        device_data += '<td>'+device.name+'</td>';
        device_data += '<td><form style="display: inline-block;" action="<%= view.endpoint('/device/dropirrigation/')%>'+ 
                        device.id+'" method="post"><a href="javascript:;" class="btn btn-danger btn-xs" title="Eliminar"'+
                       'onclick="if(confirm(&quot;\u00bfDesea eliminar del esquema de irrigación?&quot;)){parentNode.submit();}return false;"><i class="fa fa-close"></i> </a></form></td>';

        device_data += '</tr>';
      });
      $('#listGroup').append(device_data);
    });/**/
  })

  function launch_modal(idPoint){
   $.ajax({
      type: "GET",
      url: '/device/getdatairrigation/' + idPoint,
      success: function(data){
        if (data.point.typefield==undefined ) {
          $('#id').val(idPoint);
          $('#typefield').val('- -');
          $('#dateS').val('- -');
          $('#dateC').val('- -');  
        }
        else{
          $('#id').val(idPoint);
          $('#typefield').val(data.point.typefield);
          $('#dateS').val(data.point.dateS);
          $('#dateC').val(data.point.dateC);
        }
        
      }
    });/**/
  }
</script>