
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dispositivos
    <small>Lista</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dispositivos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
         <div class="">
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <h4 class="card-title">Tabla</h4>
                </div>
                <br>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <a href="<%= view.endpoint('/device/add')%>" class="btn btn-info" title="Nuevo Dispositivo"><i class="fa fa-plus"></i> Nuevo Dispositivo</a>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped" >
            <thead>
            <tr >
                <th>#</th>
                <th>Codigo</th>
                <th>tipo</th>
                <th>Agricultor</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <% data.devices.forEach(function(device, index) {%>
                <tr class="warning">
                  <td><%= index + 1 %></td>
                  <td><%= device.code %> </td>
                  <td><%= device.type.name %> </td>
                  <td><%= (device.user == null)?'- -':device.user.organization_name||device.user.first_name%>   </td>
                  <td style="text-align: right;">
                  <a href="<%= view.endpoint('/device/view/' + device.id)%>" class="btn btn-primary btn-xs" title="Ver"><i class="fa fa-eye"></i> Ver</a>
                  <a href="<%= view.endpoint('/device/edit/' + device.id)%>" class="btn btn-success btn-xs" title="Editar"><i class="fa fa-edit"></i> Editar</a>
                  <a href="<%= view.endpoint('/device/configuration/' + device.id)%>" class="btn btn-warning btn-xs" title="Editar"><i class="fa fa-gear"></i> Configurar</a>
                  
                  <form style="display: inline-block;" action="<%= view.endpoint('/device/delete/' + device.id)%>" method="post">
                  <a href="javascript:;" class="btn btn-danger btn-xs" title="Eliminar" onclick="if(confirm(&quot;\u00bfDesea eliminar el registro <%= device.code%>?&quot;)){parentNode.submit();}return false;"><i class="fa fa-close"></i> Eliminar</a>
                  </form>
                </td>
                </tr>
            <% }); %>
           
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

