
<!-- Content Header (Page header) -->
<section class="content-header agrintell-page" data-sidebar="sensor">
  <h1>
    Sensores
    <small>Lista</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/farmer') %>"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Sensores</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
         
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <% data.devices.forEach(function(device, index) {%>
              <div class=" col-lg-3 col-md-3 col-sm-6">
                <div class="box box-warning box-solid">
                  <div class="box-header with-border" style="padding-top: 3px; padding-bottom: 1px">
                    <div class="row">
                      <div class="col-xs-3">
                        <i class="fa fa-minus-square-o fa-3x" ></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <h3><%= device.code %></h3>
                      </div>
                      
                    </div>
                  </div>
                  <div class="box-body">
                    <table class="table">
                      <tbody>
                        <!--<tr>
                          <td class="text-warning"><i class="fa fa-file-text-o"></i> RSSI Tx</td>
                          <td><%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].rssitx%> dBM</td>
                        </tr>
                        <tr>
                          <td class="text-warning"><i class="fa fa-file-text-o"></i> RSSI Rx</td>
                          <td><%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].rssirx%> dBM</td>
                        </tr>-->
                        <tr>
                          <td class="text-warning"><i class="fa fa-battery-three-quarters"></i> Bateria</td>
                          <td><%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].battery%> V.  </td>
                        </tr>
                        <tr>
                          <td class="text-warning"><i class="fa  fa-dot-circle-o"></i> Estado</td>
                          <td> <%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].state==true?'activo':'desactivado'%></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class=" pull-right">
                          <small>
                            <%= device.readings.length == 0 ? '- -': helper.func.time_format(device.readings[device.readings.length-1].date_read)%>
                            &nbsp;&nbsp;&nbsp;
                            <%= device.readings.length == 0 ? '- -': helper.func.date_format(device.readings[device.readings.length-1].date_read)%>
                            </small>
                        </span>
                      </div>
                     </div>
                      <div class="panel-footer">
                        
                        <!--<a href="#" class="btn btn-warning btn-xs" title="Configurar"><i class="fa fa-gears"></i></a>-->
                        <a href="<%= view.endpoint('/device/graph/' + device.id)%>" title="Grafica 1" class="btn btn-primary btn-xs"
                          onclick="window.open('<%= view.endpoint('/device/graph/' + device.id)%>', 
                          '<%= device.id%>',
                          'width=500,height=500, top=0, left=<%= index * 200 %>'); 
                          return false;">
                        <i class="fa fa-area-chart"></i> 
                        </a>
                        <a href="<%= view.endpoint('/device/graph2/' + device.id)%>" title="Grafica 2" class="btn btn-info btn-xs"
                          onclick="window.open('<%= view.endpoint('/device/graph2/' + device.id)%>', 
                          '<%= view.endpoint('/device/graph/' + device.id)%>',
                          'width=500,height=500, top=0, left=<%= index * 200 %>'); 
                          return false;">
                        <i class="fa fa-line-chart"></i>
                        </a>
                         
                        <!--<a href="<%= view.endpoint('/device/graph/' + device.id)%>" class="btn btn-primary btn-xs" title="Graficas"><i class="fa fa-area-chart"></i> .</a>
                        <div class="clearfix"></div>-->
                      </div>
                  </div>
                </div>  
              </div>
            <% }); %>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<script type="text/javascript">
  
  function openOtherWindow(a){
    console.log(a)
    
              return false;
  }

</script>