<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header agrintell-page" data-sidebar="valve">
  <h1>
    Válvulas
    <small>Lista</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/farmer') %>"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Válvulas</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <% data.devices.forEach(function(device, index) {%>
              <div class=" col-lg-3 col-md-4 col-sm-6">
                <div class="box box-primary box-solid">
                  <div class="box-header with-border">
                    <div class="row">
                      <div class="col-xs-3">
                        <i class="fa  fa-yelp fa-3x" ></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <h3><%= device.code %></h3>
                      </div>
                    </div>
                  </div>
                  <div class="box-body">
                    <table class="table">
                      <tbody>
                        <!--<tr>
                          <td class="text-primary"><i class="fa fa-file-text-o"></i> RSSI Tx</td>
                          <td><%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].rssitx%> dBM</td>
                        </tr>
                        <tr>
                          <td class="text-primary"><i class="fa fa-file-text-o"></i> RSSI Rx</td>
                          <td><%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].rssirx%> dBM</td>
                        </tr>-->
                        <tr>
                          <td class="text-primary"><i class="fa fa-battery-three-quarters"></i> Bateria</td>
                          <td><%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].battery%> V.  </td>
                        </tr>
                        <tr>
                          <td class="text-primary"><i class="fa  fa-dot-circle-o"></i> Estado</td>
                          <td> <%= device.readings.length == 0 ? '- -': device.readings[device.readings.length-1].state==true?'activo':'desactivado'%></td>
                        </tr>
                        <tr>
                          <td class="text-primary"><i class="fa  fa-dot-circle-o"></i> Grupo</td>
                          <td> <%= (device.group==null)? '- -': device.group.name %></td>
                        </tr>
                        <tr>
                          <td class="text-primary"><i class="fa  fa-toggle-on"></i> Acción</td>
                          <td> <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class=" pull-right">
                          <small>
                            <%= device.readings.length == 0 ? '- -': helper.func.time_format(device.readings[device.readings.length-1].date_read)%>
                            &nbsp;&nbsp;&nbsp;
                            <%= device.readings.length == 0 ? '- -': helper.func.date_format(device.readings[device.readings.length-1].date_read)%>
                            </small>
                        </span>
                      </div>
                     </div>
                      <div class="panel-footer">
                        <a href="<%= view.endpoint('/device/editValve/' + device.id)%>" class="btn btn-primary btn-xs" title="Editar"><i class="fa fa-cog"></i>Asig. Grupo</a>
                        <a href="#" class="btn btn-warning btn-xs" title="Editar"><i class="fa fa-gears"></i> Config</a>
                        <div class="clearfix"></div>
                      </div>
                  </div>
                </div>  
              </div>
            <% }); %>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
