<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<!-- Content Header (Page header) -->
<section class="content-header" >
  <h1>
    Dispositivo
    <small>Información</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= view.endpoint('/home/admin') %>"><i class="fa fa-dashboard"></i> Home</a></li>
  
    <li class="active">Vista</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-7">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Información de <b> <%= data.device.code%></b></h3>                  
        </div>
        <div class="box-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="text-green"><i class="fa fa-file-text-o"></i> Código</td>
                <td><%= data.device.code%></td>
              </tr>
              <tr>
                <td class="text-green"><i class="fa fa-spinner"></i> Tipo</td>
                <%if(data.device.type_id == 2){%>
                  <td> <span class="label label-warning"><%= data.device.type.name %></span></td>
                <%}else if(data.device.type_id == 1){%>
                  <td> <span class="label label-primary"><%= data.device.type.name %></span></td>
                <%}else{%>
                  <td> <span class="label label-default"><%= data.device.type.name %></span></td>  
                <%}%>
              </tr>
              <tr>
                <td class="text-green"><i class="fa fa-calendar"></i> Fecha de registro</td>
                <td> <%= helper.func.date_format(data.device.created) %></td>
              </tr>
              <tr>
                <td class="text-green"><i class="fa fa-user"></i> Agricultor</td>
                <td><%- (data.device.user==null)?'- -':data.device.user.organization_name || data.device.user.first_name%></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <a href="javascript:history.back()" class="btn btn-primary"><i class="fa fa-mail-reply"></i> Atrás</a>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="box box-info">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
          <div class="col-lg-9 col-md-9">
            
            <%if(data.device.type_id == 2){%>
              <!--start box sensor-->
              <div class="box box-warning box-solid">
                <div class="box-header with-border">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-minus-square-o fa-4x" style="color: white"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2><%= data.device.code%></h2>
                        <hr>
                    </div>
                  </div>
                </div>
                
                <div class="box-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="text-warning"><i class="fa fa-file-text-o"></i> RSSI Tx</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssitx') %> dBM</td>
                      </tr>
                      <tr>
                        <td class="text-warning"><i class="fa fa-file-text-o"></i> RSSI Rx</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssirx') %> dBM</td>
                      </tr>
                      <tr>
                        <td class="text-warning"><i class="fa fa-battery-three-quarters"></i> Bateria</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'battery') %> V.  </td>
                      </tr>
                      <tr>
                        <td class="text-warning"><i class="fa fa-clock-o"></i> Hora de lectura</td>
                        <td><%- (data.devices_read[0]==null)?'- -': helper.func.time_format(data.devices_read[0].date_read)%></td>
                      </tr>
                      <tr>
                        <td class="text-warning"><i class="fa fa-calendar"></i> Fecha de lectura</td>
                        <td><%- (data.devices_read[0]==null)?'- -': helper.func.date_format(data.devices_read[0].date_read)%></td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <a href="#" data-toggle="modal" data-target="#modal-default" >
                    <div class="panel-footer">
                      <span class="pull-left">Ver detalles</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                    </div>
                  </a>  
                </div>
              </div>

    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Detalles</h4>
          </div>
          
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Información del sensor</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td class="text-warning"> RSSI Tx</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssitx') %> dBM</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> RSSI Rx</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssirx') %> dBM</td>
                    </tr>
                    <tr>
                      <td class="text-warning">Bateria</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'battery') %> V.</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Latitud</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'latitude') %> </td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Longitud</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'longitude') %> </td>
                    </tr>
                    <tr>
                      <td class="text-warning">Estado</td>
                      <td><%- (helper.func.text_relation_field(data.devices_read[0], 'state')== true) ? 'activo' : 'inactivo' %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Estación meteorológica</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td class="text-warning">Temperatura</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'temperature_station') %> </td>
                    </tr>
                    <tr>
                      <td class="text-warning">Humedad</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'humidity') %> </td>
                    </tr>
                    <tr>
                      <td class="text-warning">Lluvia</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'rain') %> mm</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Velocidad del Viento</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'speed_wind') %> km/h</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Luz</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'light') %> Lux</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Presión del aire</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'pressure_air') %> Pa</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Batería</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'battery2') %> V</td>
                    </tr>
                  </tbody>
                </table>
                
              </div>

            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Tensión del suelo</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td class="text-warning">Tensiometro 1</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'tensiometer1') %> CBar</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Tensiometro 2</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'tensiometer2') %> CBar</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Tensiometro 3</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'tensiometer3') %> CBar</td>
                    </tr>
                    <tr>
                      <td class="text-warning">Tensiometro 4</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'tensiometer4') %> CBar</td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Estado del suelo</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td class="text-warning"> Conductividad Eléctrica</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'conductivity') %> ms/cm2</td>
                    </tr>
                    <tr>
                      <td class="text-warning"> Temperatura</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'temperature') %> ºC</td>
                    </tr>
                    <tr>
                      <td class="text-warning">Contenido Volumétrico</td>
                      <td><%- helper.func.text_relation_field(data.devices_read[0], 'volume_content') %> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default " data-dismiss="modal">Cerrar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

              <!--end box-->  
            <%}else if(data.device.type_id == 1){%>
            <!-- valve -->
              <div class="box box-primary box-solid">
                <div class="box-header with-border">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa  fa-yelp fa-3x" style="color: white"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2><%= data.device.code%></h2>
                        <hr>
                    </div>
                  </div>
                </div>
                <div class="box-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="text-primary"><i class="fa fa-file-text-o"></i> RSSI Tx</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssitx') %> dBM</td>
                      </tr>
                      <tr>
                        <td class="text-primary"><i class="fa fa-file-text-o"></i> RSSI Rx</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssirx') %> dBM</td>
                      </tr>
                      <tr>
                        <td class="text-primary"><i class="fa fa-battery-three-quarters"></i> Bateria</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'battery') %> V.  </td>
                      </tr>
                      <tr>
                        <td class="text-primary"><i class="fa fa-clock-o"></i> Hora de lectura</td>
                        <td><%- (data.devices_read[0]==null)?'- -': helper.func.time_format(data.devices_read[0].date_read)%></td>
                      </tr>
                      <tr>
                        <td class="text-primary"><i class="fa fa-calendar"></i> Fecha de lectura</td>
                        <td><%- (data.devices_read[0]==null)?'- -': helper.func.date_format(data.devices_read[0].date_read)%></td>
                      </tr>
                      <tr>
                        <td class="text-primary"><i class="fa  fa-power-off"></i> Estado</td>
                        <td><%- (helper.func.text_relation_field(data.devices_read[0], 'state')== true) ? 'activo' : 'inactivo' %></td>
                      </tr>
                      <tr>
                        <td class="text-primary"><i class="fa  fa-toggle-on"></i> Acción</td>
                        <td> <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            <%}else{%>
            <!-- gateway -->
              <div class="box box-default box-solid">
                <div class="box-header with-border">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-map-pin fa-3x" style="color: white"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2><%= data.device.code%></h2>
                        <hr>
                    </div>
                  </div>
                </div>
                <div class="box-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="text-default"><i class="fa fa-file-text-o"></i> RSSI Tx</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssitx') %> dBM</td>
                      </tr>
                      <tr>
                        <td class="text-default"><i class="fa fa-file-text-o"></i> RSSI Rx</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'rssirx') %> dBM</td>
                      </tr>
                      <tr>
                        <td class="text-default"><i class="fa fa-battery-three-quarters"></i> Bateria</td>
                        <td><%- helper.func.text_relation_field(data.devices_read[0], 'battery') %> V.  </td>
                      </tr>
                      <tr>
                        <td class="text-default"><i class="fa fa-clock-o"></i> Hora de lectura</td>
                        <td><%- (data.devices_read[0]==null)?'- -': helper.func.time_format(data.devices_read[0].date_read)%></td>
                      </tr>
                      <tr>
                        <td class="text-default"><i class="fa fa-calendar"></i> Fecha de lectura</td>
                        <td><%- (data.devices_read[0]==null)?'- -': helper.func.date_format(data.devices_read[0].date_read)%></td>
                      </tr>
                      <tr>
                        <td class="text-default"><i class="fa  fa-power-off"></i> Estado</td>
                        <td><%- (helper.func.text_relation_field(data.devices_read[0], 'state')== true) ? 'activo' : 'inactivo' %></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            <%}%>
        </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
      <!-- /.row -->
    </section> 




<!-- /.content -->
 <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Tabla de lecturas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>RSSI Tx</th>
                  <th>RSSI RX</th>
                  <th>Bateria</th>
                  <th>Estado</th>
                  <th>Hora</th>
                  <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                  <% data.devices_read.forEach(function(device, index) {%>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= device.rssitx %></td>
                  <td><%= device.rssirx %></td>
                  <td><%= device.battery %></td>
                  <td><%= device.state %></td>
                  <td><%- helper.func.time_format(device.date_read)%></td>
                  <td><%= helper.func.date_format(device.date_read) %></td>
                </tr>
                <% }); %>
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>RSSI Tx</th>
                  <th>RSSI RX</th>
                  <th>Bateria</th>
                  <th>Estado</th>
                  <th>Fecha</th>
                </tr>
                </tfoot>
              </table>
              <a href="javascript:history.back()" class="btn btn-warning"><i class="fa fa-mail-reply"></i> Atrás</a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

