<!DOCTYPE html>
<html>
  <head>
    <title>Agrintell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <%- view.script(['landing/bootstrap.min.css'], 'css') -%>
  <%- view.script(['landing/all.min.css'], 'css') -%>
  <%- view.script(['landing/simple-line-icons.css'], 'css') -%>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <%- view.script(['landing/landing-page.min.css'], 'css') -%>
    <!-- Latest compiled and minified CSS -->

  <%- view.script(['landing/bootstrap-datepicker.css'], 'css') -%>


<!-- Latest compiled and minified JavaScript -->
  </head>
  <body>
    
        
    <%- include('../' + layout.view) -%>
    <%- layout.exec(layout) -%>
    <%- include('../layout/footer_landing') -%>

    <!-- All Jquery -->
   
    <%- view.script(['landing/jquery.min.js'], 'js') -%>
    <%- view.script(['landing/bootstrap.bundle.min.js'], 'js') -%>
    <!-- datepicker-->
    <%- view.script(['landing/bootstrap-datepicker.min.js'], 'js') -%>
    <%- view.script(['landing/bootstrap-datepicker.es.min.js'], 'js') -%>
  <script type="text/javascript">
    $('.dp-date').datepicker({
      format: "dd-mm-yyyy",
      autoclose: true,
      language: 'es'

  });
  </script>  
  </body>

</html>

