<!DOCTYPE html>
<html>
  <head>
    <title>Agrintell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 3.3.7 -->
    <%- view.script(['bootstrap.min.css'], 'css') -%>  
    <!-- Font Awesome -->
    <%- view.script(['font-awesome.min.css'], 'css') -%>  
    <!-- Ionicons -->
    <%- view.script(['ionicons.min.css'], 'css') -%>  
    <!-- fullCalendar -->
    <%- view.script(['fullcalendar.min.css'], 'css') -%>  
    <%- view.script(['fullcalendar.print.min.css'], 'css1') -%>  
  
    
    <%- view.script(['daterangepicker.css'], 'css') -%>  
    <!-- DataTables -->
    <%- view.script(['bootstrap-datepicker.min.css'], 'css') -%>  
    <%- view.script(['bootstrap-timepicker.min.css'], 'css') -%>  
    


    <!-- Theme style -->
    <%- view.script(['AdminLTE.min.css'], 'css') -%>  
    <!-- iCheck -->
    <%- view.script(['blue.css'], 'css') -%>  
    <%- view.script(['_all-skins.min.css'], 'css') -%>  
    <!-- datepicker -->
    <%- view.script(['landing/bootstrap-datepicker.css'], 'css') -%>
    <!-- Google Font -->
   
    <!-- jQuery 3 -->
    <%- view.script(['jquery.min.js'], 'js') -%>
     <!--chartjs -->
    <%- view.script(['chart.js/Chart.js'], 'js') -%>
    

  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <%- include('../' + layout.view) -%>
    <%- layout.exec(layout) -%>
    <!-- Main wrapper  -->
    
   
   
     <!-- jQuery UI 1.11.4 -->
     <%- view.script(['jquery-ui.min.js'], 'js') -%>
     <!-- Bootstrap 3.3.7 -->
     <%- view.script(['bootstrap.min.js'], 'js') -%>
     <!-- ChartJS -->
     <%- view.script(['chart.js/Chart.js'], 'js') -%>
     <!-- DataTables -->
     <%- view.script(['jquery.dataTables.min.js'], 'js') -%>
     <%- view.script(['dataTables.bootstrap.min.js'], 'js') -%>
      <!-- Slimscroll -->
      <%- view.script(['jquery.slimscroll.min.js'], 'js') -%>

    <!-- FastClick -->
      <%- view.script(['fastclick.js'], 'js') -%>
      <%- view.script(['bootstrap-timepicker.min.js'], 'js') -%>
      
     <!-- AdminLTE App -->
     <%- view.script(['adminlte.min.js'], 'js') -%>
     <!-- AdminLTE for demo purposes -->
     <%- view.script(['demo.js'], 'js') -%>
     <!-- fullCalendar -->
     <%- view.script(['moment.js'], 'js') -%>
     <%- view.script(['fullcalendar.min.js'], 'js') -%>

     <!-- iCheck -->
     <%- view.script(['icheck.min.js'], 'js') -%>
     <!-- datepicker -->
     <%- view.script(['landing/bootstrap-datepicker.min.js'], 'js') -%>
     
  </body>
</html>

<script>
  $('.dp-date').datepicker({
        format: "dd-mm-yyyy"
    });
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })

 $( ".alert-msg" ).hide(30000 );
 $('.datepicker').datepicker({
      autoclose: true,
      format: "yyyy-mm-dd"

    })
 //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
</script>