<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini"><b>Ag</b>ri</span>
    <span class="logo-lg"><b>Agrintell</b></span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <div style="padding-top: 15px; padding-bottom: 15px; color: white" >
            <span class="hidden-xs"><%= session.user.email %></span>
          </div>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>