<!DOCTYPE html>
<html>
  <head>
    <title>Agrintell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap 3.3.7 -->
    <%- view.script(['bootstrap.min.css'], 'css') -%>  
    <!-- Font Awesome -->
    <%- view.script(['font-awesome.min.css'], 'css') -%>  
    <!-- Ionicons -->
    <%- view.script(['ionicons.min.css'], 'css') -%>  
    <!-- Theme style -->
    <%- view.script(['AdminLTE.min.css'], 'css') -%>  
    <!-- iCheck -->
    <%- view.script(['blue.css'], 'css') -%>  
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <%- view.script(['landing/bootstrap-datepicker.css'], 'css') -%>
  </head>
  <body class="hold-transition login-page">

   
          <%- view.flash.get(view) -%>  
   
    
    <%- include('../' + layout.view) -%>
    <%- layout.exec(layout) -%>


    <!-- jQuery 3 -->
    <%- view.script(['jquery.min.js'], 'js') -%>
    <!-- Bootstrap 3.3.7 -->
    <%- view.script(['bootstrap.min.js'], 'js') -%>
    <!-- iCheck -->
    <%- view.script(['icheck.min.js'], 'js') -%>
    <%- view.script(['landing/bootstrap-datepicker.min.js'], 'js') -%>
    <script type="text/javascript">
    $('.dp-date').datepicker({
        format: "dd-mm-yyyy"
    });
  </script> 
  </body>
</html>

