
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <a href="<%= view.endpoint('/home/admin')%>">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="active">
        <a href="<%= view.endpoint('/admin/list')%>">
          <i class="fa  fa-group"></i> <span>Administradores</span>
        </a>
      </li>
      <li>
        <a href="<%= view.endpoint('/farmer/list')%>">
          <i class="fa  fa-group"></i> <span>Agricultores</span>
        </a>
      </li>
      <li>
        <a href="<%= view.endpoint('/device/list')%>">
          <i class="fa fa-wrench"></i> <span>Dispositivos</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
