
<aside class="main-sidebar">
  <section class="sidebar">
    <ul  class="sidebar-menu" data-widget="tree">
      <li id="sidebar-home">
        <a href="<%= view.endpoint('/home/farmer')%>">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li id="sidebar-field">
        <a href="<%= view.endpoint('/farmer/map')%>">
          <i class="fa fa-globe"></i> <span>Mis Campos</span>
        </a>
      </li>
      <li id="sidebar-farm">
        <a href="<%= view.endpoint('/farm/view')%>">
          <i class="fa fa-map"></i> <span>Mis Cultivos</span>
        </a>
      </li>

      <!--li>
        <a href="<%= view.endpoint('/field/list')%>">
          <i class="fa  fa-group"></i> <span>Campos</span>
        </a>
      </li-->

      <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Mis Dispositivos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li id="sidebar-sensor">
              <a href="<%= view.endpoint('/device/sensor')%>">
                <i class="fa fa-circle-o"></i>Sensores
              </a>
            </li>
            <li id="sidebar-valve">
              <a href="<%= view.endpoint('/device/valves')%>">
                <i class="fa fa-circle-o"></i>Válvulas
              </a>
            </li>
            <li id="sidebar-gateway">
              <a href="<%= view.endpoint('/device/gateway')%>">
                <i class="fa fa-circle-o"></i>Coordinadores
              </a>
            </li>
            <li id="sidebar-group">
              <a href="<%= view.endpoint('/device/groups')%>">
                <i class="fa fa-circle-o"></i>Esquema y Grupos
              </a>
            </li>
          </ul>
        </li>
      <li id="sidebar-calendar">
        <a href="<%= view.endpoint('/calendar/view')%>">
          <i class="fa fa-calendar"></i> <span>Calendario</span>
        </a>
      </li>

    </ul>
  </section>
</aside>
