
<!-- Main wrapper  -->
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Agrintell</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">Cambiar Contraseña</h3>
          
        <form method="post"  id="changepasswordsave">
            <div class="form-group">
                
                <input class="form-control" placeholder="Nueva Contraseña" name="data[password]" type="password" pattern=".{5,}" title="Se requiere un minimo 5 caracteres" required autofocus>

            </div>
            <div class="form-group">
                
                <input class="form-control" placeholder="Confirmar Contraseña" name="data[re_password]" type="password" pattern=".{5,}" title="Se requiere un minimo 5 caracteres" required>
            </div>
            <div class="row">
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary ">Aceptar</button>
                </div>
            </div>
            
        </form>
    </div>
        <hr>
        <div class="text-center">
         <a href="<%= view.endpoint('/login')%>">Iniciar sesión</a>
        </div>
    </div>
    
<!-- /.login-box-body -->
</div>



