
<!-- Main wrapper  -->
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Agrintell</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">Recuperar Cuenta</h3>
        <p>Por favor, ingrese la dirección de correo electrónico de su cuenta. Se le enviará un código de verificación. Una vez que haya recibido el código podrá elegir una nueva contraseña.</p>
        <br>
        <form action="<%= view.endpoint('/forgetpasswordsave')%>" method="post">
            <div class="form-group">

                <input type="email" class="form-control" name="data[email]"  placeholder="correo" required="" autofocus>
            </div>
            <br>
            <div class="row">
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary ">Enviar</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="text-center">
         <a href="<%= view.endpoint('/login')%>">Iniciar sesión</a>
        </div>
    </div>
    
<!-- /.login-box-body -->
</div>
