
<!-- Main wrapper  -->
   <div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Agrintell</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <h3 class="login-box-msg">Iniciar Sesión</h3>
    

    <form  action="<%= view.endpoint('/loginvalidate')%>" method="post" id="login-admin">
      <div class="form-group has-feedback">
        <label>Correo</label>
         <input type="email" class="form-control" name="username"  placeholder="usuario" autofocus>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label>Contraseña</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <br>
      <div class="row">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary ">Ingresar</button>
        </div>
      </div>

    </form>
    <br>
    <a href="<%= view.endpoint('/user/register')%>">Regresar al registro</a>
  </div>
  <div style="text-align: center;">
  <br>
    <a href="<%= view.endpoint('/forgetpassword')%>">¿Olvido su contraseña?</a>
  </div>

  <!-- /.login-box-body -->
</div>




