<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="<%= view.endpoint('/')%>">
          <b><img src="<%= view.endpoint('/images/icons.jpg') %>" alt="homepage" class="dark-logo" style="width:30px;height:30px;"/></b>
        Agrintell
        </a>
        <div class="">
          
          <a class="btn btn-primary" href="<%= view.endpoint('/login') %>">Iniciar Sesión</a>
        </div>
        
    </div>
</nav>
<%- view.flash.get(view) -%>  
 <!-- Masthead -->
  <header class="masthead" style="padding-top: 2rem;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 mx-auto">
          <div class="card mt-5">
            <div class="card-body">
              <br>
              <h2 class="text-center"> Registrarse</h2>
              <hr>
                <div class="row">
                  <div class="col-md-7">
                    <form action="<%= view.endpoint('/user/registersave')%>" method="post">
                      <div class="form-group">
                        <label for="formGroupExampleInput">Razón social</label>
                        <input  type="text" class="form-control ena-inpu" placeholder="Razón social" name="data[organization_name]"> 
                        <small  class="form-text text-muted"><input name="first[second]" id="first[second]" checked="checked" type="checkbox"> Desmarque si desea llenar datos personales.</small> 
                      </div>
                      <label>Datos Personales:</label>
                      <hr>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="formGroupExampleInput">Nombres</label>
                          <input type="text" class="form-control dis-inpu" disabled="disabled" placeholder="Nombres" name="data[first_name]">  
                        </div>
                        <div class="form-group col-md-6">
                          <label for="formGroupExampleInput">Apellidos</label>
                          <input type="text" class="form-control dis-inpu" disabled="disabled" placeholder="Apellidos" name="data[last_name]">  
                        </div>
                        
                      </div>
                      <hr>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="formGroupExampleInput">RUC o DNI</label>
                          <input type="text" class="form-control" placeholder="RUC o DNI" name="data[ruc]" required>  
                        </div>
                        <div class="form-group col-md-6">
                          <label for="formGroupExampleInput">Número de teléfono</label>
                          <input type="text" class="form-control" placeholder="Numero de teléfono" name="data[phone]" required>  
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-4">
                          <label for="formGroupExampleInput">Pais de procedencia <span>*</span></label>
                          <select required id="country" name="data[country_id]" class="form-control">
                              <option value="">Pais</option>
                              <% data.countries.forEach(function(country) {%>
                              <option value="<%= country.dataValues.id %>" > <%= country.dataValues.name %></option>
                              <% }); %>
                          </select>
                          
                        </div>
                         <div class="form-group col-md-4">
                          <label for="formGroupExampleInput">Estado de procedencia</label>
                          <select required id="state"  name="data[state_id]" class="form-control">
                              <option value="">Estado</option>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="formGroupExampleInput">Ciudad de procedencia</label>
                          <select required id="city" name="data[city_id]" class="form-control">
                              <option value="">Ciudad</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-4">
                          <label for="formGroupExampleInput">Correo</label>
                          <input type="email" class="form-control" placeholder="email" name="data[email]" required>  
                        </div>
                        <div class="form-group col-md-4">
                          <label for="formGroupExampleInput">Contraseña</label>
                          <input id="pass" type="password" class="form-control" placeholder="Contraseña" name="data[password]" required>  
                        </div>
                        <div class="form-group col-md-4">
                          <label for="formGroupExampleInput">Confirmar contraseña</label>
                          <input id="cpass" type="password" class="form-control" placeholder="Confirmar contraseña" name="data[password2]" required>  
                        </div>
                      </div>
                      <div class="text-right">
                         <input type="submit" class="btn btn-primary" value="Enviar">
                      </div>
                    </form>
                  </div>
                  <div class="col-md-5">
                    <img src="<%= view.endpoint('/images/farm.jpg') %>" width="422">
                  </div>
                </div>
                
                <hr>
                <div class="text-center">
                  <p>¿Ya posee una cuenta? <a href="/login">Inicie Sesión</a></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<%- view.script(['jquery.min.js'], 'js') -%>
<%- view.script(['landing/bootstrap.bundle.min.js'], 'js') -%>

<script type="text/javascript">
 $('#country').on('change',function(){

  let countryName =$(this).val();
    $.ajax({
      type:'POST',
      url: '/getstates',
      data: {country:countryName},
      success:function(data){
        $('#state').html('');
        $('#state').append('<option value="">Estado </option>');
        $('#city').html('');
        $('#city').append('<option value="">Ciudad </option>');
        $.each(data.states,function(key,value){
          $('#state').append('<option value=' + value.id + '>' + value.name + '</option>');  
        });
      }
    });
 });
 $('#state').on('change',function(){
  let stateName =$(this).val();
    $.ajax({
      type:'POST',
      url: '/getcities',
      data: {state:stateName},
      success:function(data){
        $('#city').html('');
        $('#city').append('<option value="">Ciudad </option>');
        $.each(data.cities,function(key,value){
          $('#city').append('<option value=' + value.id + '>' + value.name + '</option>');  
        });
      }
    });
 });

$( 'form' ).submit(function(event) {
        var $form = $( this );
        var checkPass = true;
        
        if( checkPass ) {
            if( $form.find( '#pass').val() !== $form.find( '#cpass' ).val()) {
                event.preventDefault();
                alert( 'Las contraseñas no coinciden' );
            }
        }
    });
jQuery(document).ready(function() {
    jQuery('input[name="first\[second\]"]').click(function(){
        var isChecked = jQuery(this).is(':checked');
        var isChecked1 = !jQuery(this).is(':checked');
        jQuery('.dis-inpu:input').attr('disabled', isChecked? 'disabled' : null);
        jQuery('.ena-inpu:input').attr('disabled', isChecked1? 'disabled' : 'disabled');
        jQuery('.ena-inpu:input').attr('disabled', isChecked1? 'disabled' : null);
        jQuery('.dis-inpu').val(null);
        jQuery('.ena-inpu').val(null)
    })
});

</script> 
